﻿<div class="wrapper" ng-controller="rootController">
    <header class="main-header">
        <!-- Logo -->
        <a ui-sref="admin" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/Assets/admin/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{authentication.userName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="./Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ui-sref="profile" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="javascript:void(0);" ng-click="logOut()" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0);" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{authentication.userName}}</p>
                    <a ui-sref="home"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="/" target="_blank">
                        <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);" id="myLink">
                        <i class="fa fa-user"></i>
                        <span>Tài khoản cá nhân</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="profile"><i class="fa fa-circle-o"></i>Thông tin cá nhân</a></li>
                        <li><a ui-sref="changepassuser"><i class="fa fa-circle-o"></i>Đổi mật khẩu</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa  fa-cogs"></i>
                        <span>Quản lý hệ thống</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="systeminfo"><i class="fa fa-circle-o"></i> Thông tin hệ thống</a></li>
                        <li><a ui-sref="editSystem"><i class="fa fa-circle-o"></i> Cấu hình hệ thống</a></li>
                        <li><a ui-sref="permissions"><i class="fa fa-circle-o"></i> Danh sách chức năng</a></li>
                        <li><a ui-sref="roles"><i class="fa fa-circle-o"></i>Danh sách quyền</a></li>
                        <li><a ui-sref="backup"><i class="fa fa-circle-o"></i> Backup dữ liệu</a></li>
                        <li><a ui-sref="errors"><i class="fa fa-circle-o"></i> Lỗi hệ thống</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="javascript:void(0);" id="myLink">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Quản lý người dùng</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="users"><i class="fa fa-circle-o"></i>Danh sách người dùng</a></li>
                        <li><a ui-sref="logs"><i class="fa fa-circle-o"></i>Lịch sử người dùng</a></li>
                        <li><a ui-sref="contacts"><i class="fa fa-circle-o"></i>Phản hồi từ người dùng</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-laptop"></i>
                        <span>Quản lý danh mục</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="countries"><i class="fa fa-circle-o"></i> Danh sách quốc gia</a></li>
                        <li><a ui-sref="provinces"><i class="fa fa-circle-o"></i> Danh sách tỉnh(thành phố)</a></li>
                        <li><a ui-sref="districts"><i class="fa fa-circle-o"></i> Danh sách quận(huyện)</a></li>
                        <li><a ui-sref="banners"><i class="fa fa-circle-o"></i> Danh sách banner</a></li>
                        <li><a ui-sref="servicehotels"><i class="fa fa-circle-o"></i> Danh sách dịch vụ khách sạn</a></li>
                        <li><a ui-sref="servicerestaurants"><i class="fa fa-circle-o"></i> Danh sách dịch vụ nhà hàng</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a ui-sref="locations">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span>Quản lý địa danh</span>

                    </a>
                </li>


                <li class="treeview">
                    <a ui-sref="hotels">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <span>Quản lý khách sạn</span>

                    </a>
                </li>

                <li class="treeview">
                    <a ui-sref="restaurants">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <span>Quản lý nhà hàng</span>

                    </a>
                </li>

                <li class="treeview">
                    <a ui-sref="foods">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <span>Quản lý ẩm thực</span>

                    </a>
                </li>

                <li class="treeview">
                    <a ui-sref="culturals">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <span>Quản lý lễ hội, văn hóa</span>

                    </a>
                </li>
                <li class="treeview">
                    <a ui-sref="tourist-service">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <span>Quản lý dịch vụ du lịch</span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div ui-view></div>
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2016-2017 <a href="http://sanslab.com">SansLab</a>.</strong> All rights reserved.
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="javascript:void(0);" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="javascript:void(0);" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon fa fa-user bg-yellow"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0);">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
            </div><!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Other sets of options are available
                        </p>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div><!-- /.form-group -->
                    <h3 class="control-sidebar-heading">Chat Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->
        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg">

    </div>

</div><!-- ./wrapper -->