﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sửa mới quốc gia
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="countries">Danh sách quốc gia</a></li>
        <li class="active">Sửa mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{country.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate class="form-horizontal" name="frmUpdateCountry" role="form" ng-submit="editCountry()">
            <div class="box-body">
                <div class="col-md-8">
                    <div class="form-group" ng-class="{ 'has-error' : frmUpdateCountry.name.$invalid && !frmUpdateCountry.name.$pristine }">
                        <label class="col-sm-2 control-label">Tên quốc gia</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control"
                                   required reqired-message="Tên bắt buộc." ng-model="country.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sort Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="sortname" class="form-control" ng-model="country.SortName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">PhoneCode</label>
                        <div class="col-sm-10">
                            <input type="text" name="phonecode" class="form-control" ng-model="country.PhoneCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a ui-sref="countries" class="btn btn-default">Hủy bỏ</a>
                            <input type="submit" ng-disabled="frmUpdateCountry.$invalid"class="btn btn-primary" value="Lưu lại" />
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>


</section>
<!-- /.content -->