﻿@model sTour.Web.Infrastructure.Core.PaginationSet<sTour.Web.Models.FoodModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isVi = sTour.Common.CommonConstants.CurrentCulture.ToString().Equals("vi");
}

<section class="parallax-window" data-parallax="scroll" data-image-src="/Assets/home/banner/amthuc.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>
                <li>@Resources.General.Food</li>
            </ul>
        </div>
    </div>
    <!-- Position -->
    @*<div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
        </div>*@
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">

            <!--End aside -->
            <div class="col-lg-9">

                <!--/tools -->
                @foreach (var item in Model.Items)
                {
                    string urlFood = "/food/" + item.Alias + "-f." + item.Id + ".html";
                    <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                @*<div class="ribbon_3 popular">
                                        <span>Popular</span>
                                    </div>
                                    <div class="wishlist">
                                        <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                                    </div>*@
                                <div class="img_list">
                                    <a href="@urlFood">
                                        <img src="@item.Avatar.Remove(0,1)" class="center" alt="@(isVi ? item.Name : item.NameEn)">
                                        @*<div class="short_info"><i class="icon_set_1_icon-4"></i>Museums </div>*@
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="tour_list_desc">

                                    <h3>@(isVi ? item.Name : item.NameEn)</h3>
                                    <p>@(isVi ? item.Address : item.AddressEn)</p>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="price_list">
                                    <div>

                                        <p>
                                            <a href="@urlFood" class="btn_1">@Resources.General.Detail</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End strip -->
                }


                <hr>
                @if (Model.TotalPages > 1)
                {
                    // Create numeric links
                    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">

                            @if (Model.Page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(Model.Page-1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (Model.Page == i)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">@i<span class="sr-only">(current)</span></span>
                                    </li>

                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>

                                }
                            }
                            @if (Model.Page < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@(Model.Page+1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                            }

                        </ul>
                    </nav>
                    <!-- end pagination-->
                }

            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Assets/home/js/cat_nav_mobile.js"></script>
<script>
    $('#cat_nav').mobileMenu();
</script>
