﻿<section class="content-header">
    <h1>
        Thông tin hệ thống
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="systeminfo">Thông tin hệ thống</a></li>
        <li class="active">Xem thông tin hệ thống</li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }

        .has-error {
            color: red;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <div class="box-body" style="height:400px;">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Hệ điều hành:</td>
                                <td>{{system.OperatingSystem}}</td>
                            </tr>
                            <tr>
                                <td>Thông tin ASP.Net:</td>
                                <td>{{system.AspNetInfo}}</td>
                            </tr>
                            <tr>
                                <td>Hoàn toàn tin cậy:</td>
                                <td>{{system.IsFullTrust}}</td>
                            </tr>
                            <tr>
                                <td>Múi giờ của máy chủ:</td>
                                <td>{{system.ServerTimeZone}}</td>
                            </tr>
                            <tr>
                                <td>Thời gian máy chủ:</td>
                                <td>{{system.ServerLocalTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td>Giờ quốc tế:</td>
                                <td>{{system.UtcTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td>Domain:</td>
                                <td>{{system.HttpHost}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
