﻿  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Nhập quận(huyện) từ Excel

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="districts">Quận(huyện)</a></li>
        <li class="active"> Nhập quận(huyện) từ Excel</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmImportDistrict" role="form" ng-submit="ImportDistrict()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Chọn file Excel</label>
                    <div class="col-sm-10">
                        <input type="file" file-upload accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" required />
                        <span ng-show="frmImportDistrict.file.$invalid" class="has-error">Phải nhập  file</span>
                    </div>

                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tỉnh(thành phố)</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="ProvincialId" ng-options="option.Id as option.Name for option in provinces">
                            <option value="">Danh mục</option>
                        </select>
                        <span ng-show="frmImportDistrict.ProvincialId.$invalid" class="has-error">Phải chọn tỉnh(thành phố)</span>
                        <input type="hidden" name="ProvincialId" ng-model="ProvincialId" />
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="districts" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmImportDistrict.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->