﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới quận(huyện)
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="districts">Danh sách quận(huyện)</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{district.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate class="form-horizontal" name="frmAddDistrict" role="form" ng-submit="addDistrict()">
            <div class="box-body">
                <div class="col-md-8">
                    <div class="form-group" ng-class="{ 'has-error' : frmAddDistrict.name.$invalid && !frmAddDistrict.name.$pristine }">
                        <label class="col-sm-2 control-label">Tên quận(huyện)</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control"
                                   required reqired-message="Tên bắt buộc." ng-model="district.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sort Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="sortname" class="form-control" ng-model="district.SortName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Tỉnh(thành phố)</label>
                        <div class="col-sm-10">
                            <select name="parentId" required class="form-control" ng-model="district.ProvincialId" ng-options="option.Id as option.Name for option in provinces">
                                <option value="">Chọn danh mục</option>
                            </select>
                            <span ng-show="frmAddDistrict.ProvincialId.$invalid" class="has-error">Phải chọn danh mục</span>
                            <input type="hidden" name="parentId" ng-model="district.ProvincialId" />
                        </div>
                    </div>

                </div>


            </div>
            <div class="box-footer">
                <a ui-sref="districts" class="btn btn-default">Hủy bỏ</a>
                <input type="submit" ng-disabled="frmAddDistrict.$invalid" class="btn btn-success pull-right" value="Lưu lại" />
            </div><!-- /.box-footer -->
        </form>
    </div>


</section>
<!-- /.content -->