﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html ><!---->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>sTour</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="Assets/admin/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Ionicons -->
    <link href="Assets/admin/font-awesome/ionicons.min.css" rel="stylesheet" />
    <!--Loading Bar-->
    <link href="Assets/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href="Assets/libs/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />

    <link href="Assets/libs/angular-datetime-inputs/dist/datetime-inputs.min.css" rel="stylesheet" />
    <!-- Toast -->
    <link href="Assets/libs/toastr/toastr.min.css" rel="stylesheet" />

    <!-- CSS Admin -->
    <link href="Assets/admin/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="Assets/admin/css/custom.css" rel="stylesheet" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="Assets/admin/css/skins/_all-skins.min.css" />
    <link href="Assets/admin/css/circle.css" rel="stylesheet" />
    <link href="Assets/libs/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="app">
    <div ui-view></div>

    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaunDVz3Hu7axe6_PV0MKNrOkWlZJGz9g&libraries=places"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaunDVz3Hu7axe6_PV0MKNrOkWlZJGz9g"></script>-->
    <script src="Assets/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="Assets/admin/js/app.min.js"></script>

    <!--Cheditor-->
    <script src="Assets/libs/ckeditor/ckeditor.js"></script>

    <!--CKFinder-->
    <script src="Assets/libs/ckfinder/ckfinder.js"></script>

    <!-- ngBootbox -->
    <script src="Assets/libs/bootbox/bootbox.js"></script>
    <!-- Toast -->
    <script src="Assets/libs/toastr/toastr.min.js"></script>

    <!-- Common Angular Js-->
    <script src="Assets/libs/angular/angular.js"></script>
    <script src="Assets/libs/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="Assets/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="Assets/libs/angular-loading-bar/src/loading-bar.js"></script>
    <script src="Assets/libs/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="Assets/libs/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="Assets/libs/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="//unpkg.com/ng-youtube-embed-iframe@latest/ng-youtube.min.js"></script>
    <!--ngckeditor-->
    <script src="Assets/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <!-- ngBootbox -->
    <script src="Assets/libs/ngBootbox/ngBootbox.js"></script>
    <!-- toggle button-->
    <script src="Assets/libs/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
    <!-- TimePacker -->
    <script src="Assets/libs/angular-datetime-inputs/dist/datetime-inputs.min.js"></script>

    <!-- Pagination -->
    <script src="Assets/libs/angular-utils-pagination/dirPagination.js"></script>
    <!-- Module Common -->
    <script src="/App/app.config.js"></script>
    <script src="App/shared/modules/stour.common.js"></script>

    <!-- Service Common -->
    <script src="App/shared/services/notificationService.js"></script>
    <script src="App/shared/services/apiService.js"></script>
    <script src="App/shared/services/commonService.js"></script>
    <script src="~/App/shared/services/authData.js"></script>
    <script src="~/App/shared/services/authenticationService.js"></script>
    <script src="~/App/shared/services/loginService.js"></script>

    <!--Filter-->
    <script src="App/shared/filter/stour.filter.js"></script>
    <!--Directive-->
    <script src="App/shared/directive/directive.js"></script>
    <!-- Module -->
    <script src="App/components/account/account.module.js"></script>
    <script src="App/components/system/system.module.js"></script>
    <script src="App/components/role/role.module.js"></script>
    <script src="App/components/location/location.module.js"></script>
    <script src="App/components/hotel/hotel.module.js"></script>
    <script src="App/components/food/food.module.js"></script>
    <script src="App/components/restaurant/restaurant.module.js"></script>
    <script src="App/components/country/country.module.js"></script>
    <script src="App/components/province/province.module.js"></script>
    <script src="App/components/district/district.module.js"></script>
    <script src="App/components/banner/banner.module.js"></script>
    <script src="App/components/cultural/cultural.module.js"></script>
    <script src="App/components/servicehotel/servicehotel.module.js"></script>
    <script src="App/components/servicerestaurant/servicerestaurant.module.js"></script>
    <script src="~/App/components/touristservice/touristservice.module.js"></script>
    <!-- App -->
    <script src="App/app.js"></script>
    <script src="App/components/admin/rootController.js"></script>
</body>
</html>

