﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="users">Danh sách người dùng</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-change="getUsers()" placeholder="Nhập tên tài khoản ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getUsers()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="register">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10%">Tài khoản</th>
                            <th style="width:10%">Email</th>
                            <th style="width: 10%">SDT</th>
                            <th style="width:10%">Giới tính</th>
                            <th style="width: 15%">Lần truy cập cuối</th>
                            <th style="width: 10%">Trạng thái</th>
                            <th style="width: 25%">Tùy chọn</th>
                            <th style="width:10%">Chi tiết</th>
                        </tr>

                        <tr dir-paginate="user in users | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td>{{user.UserName}}</td>

                            <td>{{user.Email}}</td>
                            <td>{{user.PhoneNumber}}</td>
                            <td>{{user.Gender | Gender}}</td>
                            <td>{{user.LoginEndDate | convertDate}}</td>
                            <td>
                                <span ng-class="{'badge bg-red':user.LockoutEnabled==true,'badge bg-green':user.LockoutEnabled==false}">{{user.LockoutEnabled | statusFomart}}</span>
                                <br />
                                <input type="checkbox" name="LockoutEnabled" ng-change="LockUser(user.Id,user.LockoutEnabled)" ng-model="user.LockoutEnabled" ng-checked="user.LockoutEnabled">
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-target="#changePass" data-toggle="modal" ng-click="SelectUser(user)">Đổi mật khẩu</button>
                                <span>  </span>
                                <button class="btn btn-danger  btn-sm" data-target="#decentralization" data-toggle="modal" ng-click="decentralUser(user)">Phân quyền</button>
                            </td>

                            <td><button class="btn btn-danger  btn-sm" data-target="#detailAccount" data-toggle="modal" ng-click="SelectUser(user)">Chi tiết</button></td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="4"><span class="pull-left">Tổng số bản ghi trong một trang là 10</span></td>
                                <td colspan="5"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getUsers(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>

                    <div class="modal fade" id="detailAccount" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    Chi tiết tài khoản <strong>{{user.UserName}}</strong>
                                </div>

                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>UserName</th>
                                            <td>{{user.UserName}}</td>
                                            <th>Họ và tên</th>
                                            <td>{{user.FullName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Ngày sinh</th>
                                            <td>{{user.BirthDay | convertDate}}</td>
                                            <th>Email</th>
                                            <td>{{user.Email}}</td>
                                        </tr>

                                        <tr>
                                            <th>Địa chỉ</th>
                                            <td>{{user.Address}}</td>
                                            <th>Số điện thoại</th>
                                            <td>{{user.PhoneNumber}}</td>
                                        </tr>

                                        <tr>
                                            <th>Giới tính</th>
                                            <td>{{user.Gender | Gender}}</td>
                                            <th>Nghề nghiệp</th>
                                            <td>{{user.jobs.Name}}</td>
                                        </tr>

                                        <tr>
                                            <th>Công ty</th>
                                            <td>{{user.Company}}</td>
                                            <th>Ngày đăng nhập gần nhất</th>
                                            <td>{{user.LoginEndDate | convertDate}}</td>
                                        </tr>

                                        <tr>
                                            <th>Quốc gia</th>
                                            <td>{{user.Countries.Name}}</td>
                                            <th>Trạng thái</th>
                                            <td><span  ng-class="{'badge bg-red':user.LockoutEnabled==true,'badge bg-green':user.LockoutEnabled==false}">{{user.LockoutEnabled | statusFomart}}</span></td>
                                        </tr>

                                        <tr>
                                            <th>IP đăng nhập gần nhất</th>
                                            <td>{{user.LoginEndIP}}</td>
                                            <th>Số lần đăng nhập</th>
                                            <td>{{user.LoginCount}}</td>
                                        </tr>

                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade" id="changePass" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    Thay đổi mật khẩu tài khoản <strong>{{user.UserName}}</strong>
                                </div>

                                <div class="modal-body">
                                    <div class="panel-body">
                                        <form role="form" class="form-horizontal" name="frmChangePass">
                                            <div class="form-group">
                                                <label for="inputNewPass">Mật khẩu mới</label>
                                                <input class="form-control" required ng-minlength="6" name="newPass" ng-model="password" type="password" />
                                                <span ng-show="frmChangePass.newPass.$invalid" class="has-error">Nhập ít nhất 6 ký tự</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputNewPass">Xác nhận mật khẩu</label>
                                                <input class="form-control" name="verityPass" required ng-minlength="6" ng-model="veritypass" type="password" />
                                                <span ng-show="frmChangePass.verityPass.$invalid" class="has-error">Nhập ít nhất 6 ký tự</span>
                                            </div>

                                            <button class="btn btn-primary col-md-4 col-md-offset-1" ng-disabled="frmChangePass.$vaild" style="margin-left:-16px;" ng-click="changePass()">Cập nhật</button>
                                            <button class="btn btn-primary col-md-4 col-md-offset-1 pull-right" data-dismiss="modal" style="margin-right:-14px;">Hủy</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade" id="decentralization" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    Phân quyền tài khoản <strong>{{user.UserName}}</strong>
                                </div>

                                <div class="modal-body">
                                    <div class="panel-body">
                                        <ul style="margin-left: -42px;">
                                            <li class="list-group-item" ng-repeat="role in roleUser.Roles">
                                                <label>
                                                    <input type="checkbox" name="hotFlag" ng-model="role.Checked" ng-checked="role.Checked"> {{role.Name}}
                                                </label>
                                                <br />
                                                <label>Mô tả:</label>
                                                <div class="alert alert-success">
                                                    {{role.Description}}
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn btn-primary col-md-4 col-md-offset-1" style="margin-left:1px;" ng-click="decentral()">Phân quyền</button>
                                        <button class="btn btn-primary col-md-4 col-md-offset-1 pull-right" data-dismiss="modal">Hủy</button>
                                    </div>            
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
