﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thay đổi mật khẩu
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="changepassuser">Thay đổi mật khẩu</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmChangePass" role="form">
            <div class="box-body" style="height:700px;">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mật khẩu cũ(*)</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" ng-minlength="6" required name="oldpassword" placeholder="Mật khẩu cũ" ng-model="user.OldPassword">
                        <span ng-show="frmChangePass.oldpassword.$invalid" class="has-error">Mật khẩu có ít nhất 6 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mật khẩu mới(*)</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="newpassword" required placeholder="Mật khẩu mới" ng-model="user.NewPassword">
                        <span ng-show="frmChangePass.newpassword.$invalid" class="has-error">Mật khẩu có ít nhất 6 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Xác nhận mật khẩu(*)</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="veritypassword" required placeholder="Xác nhận mật khẩu" ng-model="user.VerityPassword">
                        <span ng-show="frmChangePass.veritypassword.$invalid" class="has-error">Mật khẩu có ít nhất 6 ký tự</span>
                    </div>
                </div>

                <!-- /.box-body -->

                <div class="box-footer">
                    <div class="col-sm-6 col-sm-offset-2">
                        <button class="btn btn-info pull-left" ui-sref="admin">Hủy</button>
                        <button type="submit" ng-disabled="frmChangePass.$invalid" class="btn btn-info pull-right" ng-click="changePass()">Thay đổi mật khẩu</button>
                    </div>
                </div>

            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<script>
    $(document).ready(function () {
        $('#datePicker')
            .datepicker({
                format: 'mm/dd/yyyy'
            })
            .on('changeDate', function (e) {

            });

    });
</script>
<!-- /.content -->