﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Lịch sử hoạt động
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="logs">Danh sách hoạt động</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 40%">Hoạt động</th>
                            <th style="width:30%">Tài khoản</th>
                            <th style="width:30%">Thời điểm thực hiện</th>
                        </tr>

                        <tr dir-paginate="log in logs | itemsPerPage: 20" total-items="TotalCount" current-page="page">
                            <td>{{log.Activity}}</td>
                            <td>{{log.UserName}}</td>
                            <td>{{log.CreatedDate | convertDate}}</td>
                        </tr>

                        <tfoot>
                            <tr>
                                <td colspan="1"><span class="pull-left">Tổng số bản ghi trong một trang là 10</span></td>
                                <td colspan="2"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getLogs(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->