﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thông tin tài khoản
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="profile">Tài khoản</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUser" role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên tài khoản(*)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-disabled="frmUser.name.$valid" required name="name" placeholder="Tên sản phẩm" ng-model="user.UserName">
                        <span ng-show="frmUser.name.$invalid" class="has-error">Nhập tên tài khoản</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Họ và tên(*)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="fullname" required placeholder="Họ và tên" ng-model="user.FullName">
                        <span ng-show="frmUser.fullname.$invalid" class="has-error">Nhập họ tên đầy đủ</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email(*)</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="email" required placeholder="Email" ng-model="user.Email">
                        <span ng-show="frmUser.fullname.$invalid" class="has-error">Nhập đúng định dạng email</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Số điện thoại</label>
                    <div class="col-sm-6">
                        <input type="tel" pattern="^0\d{9,10}$" class="form-control" name="phonenumber" required placeholder="Số điện thoại" ng-model="user.PhoneNumber">
                        <span ng-show="frmUser.phonenumber.$invalid" class="has-error">Nhập đúng định dạng</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Địa chỉ(*)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="address" required placeholder="Nhập địa chỉ" ng-model="user.Address">
                        <span ng-show="frmUser.address.$invalid" class="has-error">Nhập địa chỉ</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Giới tính</label>
                    <div class="col-sm-2">
                        <select id="inputGender" class="form-control" name="gender" ng-model="user.Gender" ng-options="option.gender as option.name for option in genders"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputBirthDay" class="col-sm-2 control-label">Ngày sinh</label>
                    <div class="col-sm-6">
                        <div class='input-group date' id='datePicker'>
                            <input id="inputBirthDay" ng-model="user.BirthDay" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Quốc gia</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="country" ng-model="user.CountryId" ng-options="option.Id as option.Name for option in countries"></select>
                        
                    </div>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-info pull-left" ui-sref="admin">Hủy</button>
                    <button type="submit" ng-disabled="frmUser.$invalid" class="btn btn-info pull-right" ng-click="updateProfile()">Cập nhật tài khoản</button>
                </div>
                <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<script>
        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'mm/dd/yyyy'
                })
                .on('changeDate', function (e) {

                });

        });
</script>
<!-- /.content -->