﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách tỉnh(thành phố)
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="provinces"> Danh sách tỉnh(thành phố)</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="getProvinces()">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên tỉnh(thành phố) ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getProvinces()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-province">Thêm mới</button>
                    <button class="btn btn-primary" ui-sref="import-province">Imprort Excel</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 40%">Tên</th>
                            <th style="width: 20%">Sort Name</th>
                            <th style="width: 30%">Quốc gia</th>
                            <th style="width: 10%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="province in provinces | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td>{{province.Name}}</td>
                            <td>{{province.SortName}}</td>
                            <td>{{province.CountryName}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-province({id:province.Id})">Sửa mới</button>
                            </td>
                        </tr>
                        <tfoot ng-if="provinces.length == 0">
                            <tr>
                                <td colspan="9">Không có kết quả nào</td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="provinces.length > 0">
                            <tr>

                                <td colspan="5"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getProvinces(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
