﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới tỉnh(thành phố)
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="provinces">Danh sách tỉnh(thành phố)</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{province.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate class="form-horizontal" name="frmAddProvince" role="form" ng-submit="addProvince()">
            <div class="box-body">
                <div class="col-md-8">
                    <div class="form-group" ng-class="{ 'has-error' : frmAddProvince.name.$invalid && !frmAddProvince.name.$pristine }">
                        <label class="col-sm-2 control-label">Tên tỉnh(thành phố)</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control"
                                   required reqired-message="Tên bắt buộc." ng-model="province.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sort Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="sortname" class="form-control" ng-model="province.SortName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Quốc gia</label>
                        <div class="col-sm-10">
                            <select name="CountryId" required class="form-control" ng-model="province.CountryId" ng-options="option.Id as option.Name for option in countries">
                                <option value="">Chọn danh mục</option>
                            </select>
                            <span ng-show="frmAddProvince.CountryId.$invalid" class="has-error">Phải chọn danh mục</span>
                            <input type="hidden" name="parentId" ng-model="province.CountryId" />
                        </div>
                    </div>
                    
                </div>
                

            </div>
            <div class="box-footer">
                <a ui-sref="provinces" class="btn btn-default">Hủy bỏ</a>
                <input type="submit" ng-disabled="frmAddProvince.$invalid" class="btn btn-success pull-right" value="Lưu lại" />
            </div><!-- /.box-footer -->
        </form>
    </div>


</section>
<!-- /.content -->