﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Backup dữ liệu
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="backup">Backup dữ liệu</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box" style="height:600px;">
        <div class="box-header with-border">
            <h1 style="text-align:center;">Nhấn nút tải xuống để tải file dữ liệu</h1>
            <div class="col-md-4 col-md-offset-4">
                <a class="btn btn-primary center-block" href="#" ng-click="downloadFile()"><span class="glyphicon glyphicon-download-alt"></span> Tải xuống</a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
