﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Lỗi hệ thống
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="errors">Danh sách lỗi hệ thống</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 20%">Lỗi</th>
                            <th style="width:10%">Controller</th>
                            <th style="width:40%">Chi tiết lỗi</th>
                            <th style="width:20%">Thời gian xảy ra</th>
                            <th style="width:10%">Chi tiết</th>
                        </tr>

                        <tr dir-paginate="error in errors | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td>{{error.ExceptionMessage}}</td>
                            <td>{{error.ControllerName}}</td>
                            <td>{{error.ExceptionStackTrace}}</td>
                            <td>{{error.LogTime | convertDate}}</td>
                            <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="selectedError(error)">Chi tiết</button></td>
                        </tr>

                        <tfoot>
                            <tr>
                                <td colspan="2"><span class="pull-left">Tổng số bản ghi trong một trang là 10</span></td>
                                <td colspan="2"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getErrors(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <strong>Name: {{error.ExceptionMessageFull}}</strong>
                                    </div>

                                    <div class="row">
                                        <strong>Controller: {{error.ControllerName}}</strong>
                                    </div>

                                    <div class="row">
                                        <strong>Time: {{error.LogTime | convertDate}}</strong>
                                    </div>

                                    <div class="row">
                                        <strong>Message</strong>: {{error.ExceptionStackTraceFull}}
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->