﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cấu hình hệ thống
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="editSystem">Hệ thống</a></li>
        <li class="active">Cập nhật cấu hình hệ thống</li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info" style="height:500px;">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmConfig" role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Tên hệ thống(*)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" required name="name" placeholder="Tên cấu hình hệ thống" ng-model="config.SystemName">
                        <span ng-show="frmConfig.name.$invalid" class="has-error">Nhập tên cấu hình hệ thống</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Mail Server(*)</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="mailserver" required placeholder="Mail Server" ng-model="config.MailServer">
                        <span ng-show="frmConfig.mailserver.$invalid" class="has-error">Nhập mail server</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Email(*)</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="email" required placeholder="Email" ng-model="config.Email">
                        <span ng-show="frmConfig.email.$invalid" class="has-error">Nhập email</span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Password(*)</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="password" required placeholder="Mật khẩu" ng-model="config.Password">
                        <span ng-show="frmConfig.password.$invalid" class="has-error">Nhập password</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Thời gian cached hệ thống (h) (*)</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="cachedtime" required placeholder="Thời gian cached hệ thống" ng-model="config.CachedTime">
                        <span ng-show="frmConfig.cachedtime.$invalid" class="has-error">Nhập thời gian cached hệ thống</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">HotLine(*)</label>
                    <div class="col-sm-6">
                        <input type="tel" pattern="^0\d{9,10}$" class="form-control" name="hotline" required placeholder="Số điện thoại" ng-model="config.HotLine">
                        <span ng-show="frmConfig.hotline.$invalid" class="has-error">Nhập đúng định dạng</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Liên hệ(*)</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" name="contact" required placeholder="Nhập địa chỉ liên hệ" ng-model="config.Contact" />
                        <span ng-show="frmConfig.contact.$invalid" class="has-error">Nhập địa chỉ liên hệ</span>
                    </div>
                </div>
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-info pull-left" ui-sref="admin">Hủy</button>
                <button type="submit" ng-disabled="frmConfig.$invalid" class="btn btn-info pull-right" ng-click="updateConfig()">Cập nhật hệ thống</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<script>
        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'mm/dd/yyyy'
                })
                .on('changeDate', function (e) {

                });

        });
</script>
<!-- /.content -->