﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách dịch vụ du lịch
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="tourist-service"> Danh sách dịch vụ du lịch</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="gettouristservices()">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên dịch vụ ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="gettouristservices()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-tourist-service">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 30%">Tên</th>
                            <th style="width: 40%">Địa chỉ</th>
                            <th style="width: 20%">Loại hình</th>
                            <th style="width: 10%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="touristservice in touristservices | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td>{{touristservice.Name}}</td>
                            <td>{{touristservice.Address}}</td>
                            <td>{{touristservice.Category | category}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-tourist-service({id:touristservice.Id})">Sửa mới</button>
                            </td>
                        </tr>
                        <tfoot ng-if="touristservices.length == 0">
                            <tr>
                                <td colspan="9">Không có kết quả nào</td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="countries.length > 0">
                            <tr>
                     
                                <td colspan="5"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="gettouristservices(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
