﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sửa mới dịch vụ du lịch
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="tourist-service">Danh sách dịch vụ du lịch</a></li>
        <li class="active">Sửa mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{touristservice.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate name="frmUpdatetouristservice" role="form" ng-submit="edittouristservice()">
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    <label class="control-label">Avatar</label>
                                    <img ng-src="{{touristservice.Avatar | filterImage}}" style="max-width:250px;" />
                                </div>
                                <div class="col-sm-2" style="margin-top:25px;">
                                    <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px;">
                                        <label for="file-upload" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Avatar...</span>
                                            <input type="file" id="file-upload" custom-on-change="uploadFile" style="display:none;" />
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row" ng-class="{ 'has-error' : frmUpdatetouristservice.name.$invalid && !frmUpdatetouristservice.name.$pristine }">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tên dịch vụ du lịch (Vietnamese)</label>
                                        <input type="text" name="name" class="form-control"
                                               required reqired-message="Tên tiếng việt bắt buộc." ng-model="touristservice.Name" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tên dịch vụ du lịch (English)</label>
                                        <input type="text" name="nameEn" class="form-control"
                                               required reqired-message="Tên tiếng anh bắt buộc." ng-model="touristservice.NameEn" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>HotLine</label>
                                        <input type="text" name="name" class="form-control"
                                               required reqired-message="SĐT bắt buộc." ng-model="touristservice.HotLine" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Địa chỉ (Vietnamese)</label>

                                        <input type="text" name="sortname" class="form-control" ng-model="touristservice.Address" required>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Địa chỉ (English)</label>

                                        <input type="text" name="sortname" class="form-control" ng-model="touristservice.AddressEn" required>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả (Vietnamese)</label>

                                        <textarea cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="touristservice.Content" type="text" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả (English)</label>

                                        <textarea cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="touristservice.ContentEn" type="text" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Loại hình dịch vụ</label>

                                        <select class="form-control" ng-model="touristservice.Category" ng-options="item.Alias as item.Content for item in categories"></select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-default pull-left" ui-sref="tourist-service">Hủy</button>
                        <button type="submit" class="btn btn-info pull-right" ng-disabled="frmUpdatetouristservice.$invalid">Thêm mới</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</section>
<!-- /.content -->
