﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link href="/Assets/home/css/jquery.auto-complete.css" rel="stylesheet" />
<section class="parallax-window" data-parallax="scroll" data-image-src="https://d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/large-images/city-landscapes/mountain-35a5b806a83dc3393f7f5606697bc9191.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main >
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>
                <li>@Resources.General.Present</li>
            </ul>
        </div>
    </div>
    <div class="container margin_60" style="background-color:#f9f9f9">
        <div class="main_title">
            <h2>STOUR</h2>
            <p>@Resources.General.Subject</p>
        </div>
        <div class="row">
            <p>
                @Resources.About.General_goal
            </p>
            <p>
                @Resources.About.Detail_goal:
            </p>
            <p>
                - @Resources.About.Goal1.
            </p>
            <p>
                - @Resources.About.Goal2.
            </p>
            <p>
                - @Resources.About.Goal3.
            </p>
            <p>
                - @Resources.About.Goal4.
            </p>
            <p>
                - @Resources.About.Goal5.
            </p>
            <p>
                - @Resources.About.Goal6.
            </p>
            <p>
                - @Resources.About.Goal7.
            </p>
            <p>
                - @Resources.About.Goal8.
            </p>
            <p>
                - @Resources.About.Goal9.
            </p>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->



