﻿
<footer class="revealed">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>@Resources._Footer.Need_help</h3>
                <a href="tel://024542344599" id="phone">02466.597.878</a>
                <a href="mailto:bkstek@gmail.com" id="email_footer">bkstek@gmail.com</a>
            </div>
            <div class="col-md-4 text-center">
                <h3>About</h3>
                <ul>
                    <li><a href="#">@Resources._Footer.About_us</a></li>
                    <li><a href="#">@Resources._Footer.FAQ</a></li>
                    <li><a href="/dang-nhap-he-thong">@Resources.Account.Login</a></li>
                    <li><a href="~/Account/Register">@Resources.Account.Register</a></li>
                    <li><a href="#">@Resources._Footer.Terms_and_condition</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <h3>@Resources._Footer.Discover</h3>
                <ul>
                    <li><a href="#">@Resources._Footer.Community_blog</a></li>
                    <li><a href="#">@Resources._Footer.Tour_guide</a></li>
                    <li><a href="#">@Resources._Footer.Wishlist</a></li>
                    <li><a href="#">@Resources._Footer.Gallery</a></li>
                </ul>
            </div>

        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-google"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>© sTour 2018</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->
<div id="toTop"></div><!-- Back to top button -->
<!-- Search Menu -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="searchDialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">@Resources.General.Search</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="q" placeholder="@Resources.General.Search_res_hotel_location...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.General.Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Book Room -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="bookDialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">@Resources.General.Book</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                @Resources.General.Message_updating...
                <br />
                @Resources.General.Thank_customers:
                <ul>
                    <li>
                        <a target="_blank" href="https://www.traveloka.com/vi-vn/?id=7491696331929719942&adloc=vi-vn&kw=7491696331929719942_%2Btraveloka&gmt=b&gn=g&gd=c&gdm=&gcid=98263771458&gdp=&gdt=&gap=1t1&pc=2&cp=7491696331929719942_TB-COM-D-s_7491696331929719942_VA&aid=24326433498&wid=kwd-41635813243&fid=&gid=1028580&gclid=Cj0KCQiA3b3gBRDAARIsAL6D-N8XYV1F3FCbrOSlS1eBYUGfeYKEXInSZms0UdNlL3dAvEvCEM_--SgaAjfPEALw_wcB">Traveloka</a>
                    </li>
                    <li>
                        <a href="https://www.trivago.vn/" target="_blank">Trivago</a>
                    </li>
                    <li>
                        <a href="https://www.agoda.com/" target="_blank">Agoda</a>
                    </li>
                    <li>
                        <a href="https://www.luxstay.com/" target="_blank">Luxstay</a>
                    </li>
                    <li>
                        <a href="https://www.booking.com/" target="_blank">Booking</a>
                    </li>
                    <li>
                        <a href="https://mytour.vn/" target="_blank">Mytour</a>
                    </li>
                    <li>
                        <a href="https://vi.hotels.com/" target="_blank">Hotels</a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.General.Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Sign In Popup -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header">
        <h3>@Resources.Account.Sign_in</h3>
    </div>

    <div class="sign-in-wrapper">
        @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new sTour.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })


        <div class="divider"><span>Or</span></div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>@Resources.Account.User_name</label>
                <input type="text" class="form-control" name="UserName" id="UserName">
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label>@Resources.Account.Password</label>
                <input type="password" class="form-control" name="PassWord" id="PassWord" value="">
                <i class="icon_lock_alt"></i>
            </div>
            <div class="clearfix add_bottom_15">
                <div class="checkboxes float-left">
                    <input id="remember-me" type="checkbox" name="RememberMe">
                    <label for="remember-me">@Resources.Account.Remember_me</label>
                </div>
                <div class="float-right"><a href="/Account/ForgotPassword">@Resources.Account.Forgot_password</a></div>
            </div>
            <div class="text-center"><input type="submit" value="@Resources.Account.Login" class="btn_login"></div>
            <a href="/admin">@Resources.Account.Login_admin?</a>
        }
        <div id="forgot_pw">
            <div class="form-group">
                <label>@Resources.Account.Message_confirm</label>
                <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                <i class="icon_mail_alt"></i>
            </div>
            <p>@Resources.Account.Message</p>
            <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
        </div>
    </div>

    <!--form -->
</div>
<!-- /Sign In Popup -->
<!--Register modal-->

@*<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="registerDialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Account.Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
               
            <div class="modal-body col-xs-12">
                @Html.ValidationSummary(false, "", new { @class = "error" })
                @Html.AntiForgeryToken()
                <div class="form-group col-sm-12">
                    <label>Full name</label>
                    <input type="text" class="form-control" name="Fullname" id="">
                </div>
                <div class="form-group col-sm-12">
                    <label>User name</label>
                    <input type="text" class="form-control" name="UserName" id="">

                </div>
                <div class="form-group col-sm-12">
                    <label>@Resources.Account.Password</label>
                    <input type="password" class="form-control" name="PassWord" id="">

                </div>

                <div class="form-group col-sm-12">
                    <label>Email</label>
                    <input type="text" class="form-control" name="Email" id="Email">

                </div>
                <div class="form-group col-sm-12">
                    <label>Address</label>
                    <input type="text" class="form-control" name="Address" id="Address">

                </div>
                <div class="form-group col-sm-12">
                    <label>Phone number</label>
                    <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber">

                </div>
            </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" style="left:0px;" value="@Resources.Account.Register"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.General.Close</button>
                </div>
            }
            </div>
    </div>
</div>*@
<!--form -->

<!--/Register modal-->
<style>
    .ui-autocomplete-category {
        font-weight: bold;
        color: #1f8dd6;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
</style>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@Scripts.Render("~/bundles/commonscript")
<!-- Check box and radio style iCheck -->

<script>
    $.widget("custom.catcomplete", $.ui.autocomplete, {
        _create: function () {
            this._super();
            this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
        },
        _renderMenu: function (ul, items) {
            var that = this,
                currentCategory = "";
            if (items[0].Name != 'No matches found') {
                $.each(items, function (index, item) {
                    switch (item.Category) {
                        case 'hotel':
                            item.CategoryName = 'Khách sạn'
                            break;
                        case 'restaurant':
                            item.CategoryName = 'Nhà hàng'
                            break;
                        case 'location':
                            item.CategoryName = 'Địa danh'
                            break;
                        case 'food':
                            item.CategoryName = 'Ẩm thực'
                            break;
                        default:
                            item.CategoryName = 'Văn hoá lễ hội'
                    }
                    var li;
                    if (item.Category != currentCategory) {
                        ul.append("<li class='ui-autocomplete-category'>" + item.CategoryName + "</li>");
                        currentCategory = item.Category;
                    }
                    li = that._renderItemData(ul, item);
                    if (item.Category) {
                        li.find('div').remove();
                        li.attr("aria-label", item.Category + " : " + item.Name);
                        $('<div>' + item.Name + '</div>').appendTo(li);
                    }
                });
            }
            else
                var lang = GetLang();
            if (lang == "vi")
                ul.append("<li class='ui-autocomplete-category'>" + "Không tìm thấy kết quả..." + "</li>");
            else
                ul.append("<li class='ui-autocomplete-category'>" + "Not found..." + "</li>");
        }
    });

    $('input[name="q"]').catcomplete({
        minLength: 1,
        source: function (request, response) {
            $.ajax({
                url: "/Home/SearchQuery/",
                dataType: "json",
                data: {
                    q: request.term
                },
                success: function (data) {
                    if (!data.length) {
                        var result = [{ Name: 'No matches found', value: response.term }];
                        response(result);
                    }
                    else
                        response(data);
                }
            });
        },
        select: function (event, ui) {
            $('input[name="q"]').val(ui.item.Name)
            switch (ui.item.Category) {
                case 'hotel':
                    window.location.href = location.protocol + "//" + location.host + "/hotel/" + ui.item.Alias + "-h." + ui.item.ObjectId + ".html"
                    break;
                case 'restaurant':
                    window.location.href = location.protocol + "//" + location.host + "/restaurant/" + ui.item.Alias + "-r." + ui.item.ObjectId + ".html"
                    break;
                case 'location':
                    window.location.href = location.protocol + "//" + location.host + "/location/" + ui.item.Alias + "-lc." + ui.item.ObjectId + ".html"
                    break;
                case 'food':
                    window.location.href = location.protocol + "//" + location.host + "/food/" + ui.item.Alias + "-f." + ui.item.ObjectId + ".html"
                    break;
                default:
                    window.location.href = location.protocol + "//" + location.host + "/cultural/" + ui.item.Alias + "-c." + ui.item.ObjectId + ".html"
            }

            return false;
        }
    });
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
    });
</script>
