﻿<!-- Header================================================== -->
<style>
    .logoStour {
        position: absolute;
        margin: 20px 0 10px 33px;
        width: 100px;
        height: 32px;
        font-size: 20pt;
        font-family: 'Lobster', cursive;
        color: #fff;
    }
</style>
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-6"><i class="icon-phone"></i><strong>02466.597.878</strong></div>
                <div class="col-6">
                    @using Microsoft.AspNet.Identity;
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogOff" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul id="top_links">
                                <li><a href="#">@Resources.General.Hello: @User.Identity.GetUserName()</a></li>
                                <li>

                                    <a href="javascript:document.getElementById('frmLogOff').submit()">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>@Resources.General.Close
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                            <ul id="top_links">
                                <li><a href="#sign-in-dialog" id="access_link">@Resources.Account.Login</a></li>
                                <li><a href="/dang-ky" id="access_link">@Resources.Account.Register</a></li>
                                
                            </ul>
                    }
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-2">
                <div id="logo_home">
                    <div class="logoStour" title="sTour" style="cursor:pointer">
                        sTour

                    </div>
                    <script>
                        $('.logoStour').on("click", function (e) {
                            window.location.href = location.protocol + "//" + location.host
                            e.preventDefault;
                        });
                        
                    </script>
                </div>
            </div>
            <nav class="col-10">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="/Assets/home/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                    <ul>
                        <li class="submenu">
                            <a href="/" class="show-submenu">@Resources.General.Home </a>

                        </li>
                        <li class="submenu">
                            <a href="/nha-hang.html" class="show-submenu">@Resources.General.Restaurant </a>

                        </li>
                        <li class="submenu">
                            <a href="/khach-san.html" class="show-submenu">@Resources.General.Hotel </a>

                        </li>
                        <li class="submenu">
                            <a href="/dia-danh.html" class="show-submenu">@Resources.General.Location </a>

                        </li>
                        <li class="submenu">
                            <a href="/van-hoa-le-hoi.html" class="show-submenu">@Resources.General.Cultural </a>

                        </li>
                        <li class="submenu">
                            <a href="/am-thuc.html" class="show-submenu">@Resources.General.Food </a>

                        </li>
                        <li class="submenu">
                            <a href="/ban-do.html" class="show-submenu">@Resources.General.Map </a>

                        </li>
                        @{ var baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));}
                        <li class=" submenu">
                            <a href="javascript:void(0);" class="show-submenu">@Resources._Header.Other <i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="/du-bao-thoi-tiet.html">@Resources._Header.Weather </a></li>
                                <li><a href="/gioi-thieu.html">@Resources._Header.Intro </a></li>
                                <li><a href="/dich-vu-tien-ich.html">@Resources._Header.Service_utility </a></li>
                                <li><a href="@baseUrl#contact" class="show-submenu">@Resources._Header.Contact </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            @using (Html.BeginForm("ChangeCulture", "Base", FormMethod.Post, new { @style = "display:inline; padding-top:8px;" }))
                            {
                                @Html.Hidden("returnUrl", Request.RawUrl)
                                @Html.DropDownList("ddlCulture", new SelectList(new[]
                                {
                                    new {value="vi", text= "Tiếng Việt"},
                                    new {value="en", text= "English"}
                                }, "value", "text", sTour.Common.CommonConstants.CurrentCulture), new { onchange = "this.form.submit();", style = "font-size:10px;" })
                            }
                        </li>

                    </ul>
                </div><!-- End main-menu -->
                <ul id="top_tools">
                    <li>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#searchDialog"><i class="icon_search"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- container -->
</header><!-- End Header -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>