﻿
@model sTour.Web.Models.LoginModel
@{
    ViewBag.Title = "Message";
}

<main>
    <section id="hero" class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-5 col-md-6 col-sm-8">
                    <div id="login">
                        <div class="text-center">
                            <div class="text-center" style="font-size:22px;font-family: 'Lobster', cursive;">
                                sTour
                            </div>
                        </div>
                        <hr>

                         @Resources.General.Message_send_response
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End main -->