﻿
@{
    ViewBag.Title = "WeatherForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link href="/Assets/home/css/jquery.auto-complete.css" rel="stylesheet" />
<section class="parallax-window" data-parallax="scroll" data-image-src="https://d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/large-images/city-landscapes/mountain-35a5b806a83dc3393f7f5606697bc9191.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>
                <li>@Resources.General.Weather_forecast</li>
            </ul>
        </div>
    </div>
    <div class="container margin_60">
        <div class="row">
            <a href="https://www.accuweather.com/vi/vn/tuyen-quang/356319/current-weather/356319" class="aw-widget-legal">
                <!--
        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
        -->
            </a><div id="awtd1541237534774" class="aw-widget-36hour" data-locationkey="356319" data-unit="c" data-language="vi" data-useip="false" data-uid="awtd1541237534774" data-editlocation="false"></div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->
<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>

