﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sửa mới lễ hội văn hóa
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="culturals">Danh sách lễ hội, văn hóa</a></li>
        <li class="active">Thêm mới</li>
    </ol>
    <style>
        .process-image {
            position: absolute;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate name="frmEditCultural" role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    <label class="control-label">Avatar</label>
                                    <img ng-src="{{cultural.Avatar | filterImage}}" style="max-width:250px;" />
                                </div>
                                <div class="col-sm-2" style="margin-top:25px;">
                                    <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px;">
                                        <label for="file-upload" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Avatar...</span>
                                            <input type="file" id="file-upload" custom-on-change="uploadFile" style="display:none;" />
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name (Vietnamese)</label>
                                        <input type="text" class="form-control" ng-change="GetSeoTitle()" required name="name" placeholder="Tên tên lễ hội, văn hóa..." ng-model="cultural.Name">
                                        <span ng-show="frmEditCultural.name.$invalid" class="has-error">Nhập tên lễ hội, văn hóa bằng tiếng việt</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">SEO (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="alias" placeholder="SEO Url..." ng-model="cultural.Alias">
                                        <span ng-show="frmEditCultural.alias.$invalid" class="has-error">Nhập SEO URL bằng tiếng việt</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name (English)</label>
                                        <input type="text" class="form-control" ng-change="GetSeoTitleEn()" required name="nameEn" placeholder="Tên tên lễ hội, văn hóa..." ng-model="cultural.NameEn">
                                        <span ng-show="frmEditCultural.nameEn.$invalid" class="has-error">Nhập tên lễ hội, văn hóa bằng tiếng anh</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">SEO (English)</label>
                                        <input type="text" class="form-control" required name="aliasEn" placeholder="SEO Url..." ng-model="cultural.AliasEn">
                                        <span ng-show="frmEditCultural.aliasEn.$invalid" class="has-error">Nhập SEO URL bằng tiếng anh</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Địa chỉ (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="address" placeholder="Địa chỉ" ng-model="cultural.Address">
                                        <span ng-show="frmEditCultural.address.$invalid" class="has-error">Nhập địa chỉ bằng tiếng việt</span>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Địa chỉ (English)</label>
                                        <input type="text" class="form-control" required name="addressEn" placeholder="Địa chỉ" ng-model="cultural.AddressEn">
                                        <span ng-show="frmEditCultural.addressEn.$invalid" class="has-error">Nhập địa chỉ bằng tiếng anh</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Link video</label>
                                        <input type="text" class="form-control" required name="videodir" placeholder="Link video" ng-model="cultural.VideoDir">
                                        <span ng-show="frmEditCultural.videodir.$invalid" class="has-error">Nhập link video</span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Link video (English)</label>
                                        <input type="text" class="form-control" required name="videodirEn" placeholder="Link video (English)" ng-model="cultural.VideoDirEn">
                                        <span ng-show="frmEditCultural.videodirEn.$invalid" class="has-error">Nhập link video (English)</span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Quận(huyện):</label>
                                        <select class="form-control" ng-model="cultural.DistrictId" ng-options="option.Id as option.Name for option in districts">
                                            <option value="0" disabled>Chọn quận(huyện)</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: 20px;">
                                <div class="col-sm-2">
                                    <label>Hình ảnh</label>
                                </div>
                                <label class="label label-info" ng-show="cultural.Images.length==0">
                                    Không có hình ảnh nào
                                </label>
                                <div class="col-sm-4 btn-group" ng-show="cultural.Images.length>0">
                                    <label class="btn btn-info" for="checkAll">{{checkAll !== true ? 'Chọn tất cả' : 'Bỏ chọn tất cả'}}</label>
                                    <input id="checkAll" type="checkbox" style="display:none" ng-model="checkAll" />
                                    <button class="btn btn-info" ng-click="removeAllImages()">Xoá các ảnh đã chọn</button>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12" style="margin-left: 15px;">
                                <div class="imge-box" id="list-image" ng-repeat="image in cultural.Images">
                                    <span><i class="fa fa-times delete-image" ng-click="removeImage($index)"></i></span>
                                    <input class="check-image" type="checkbox" ng-model="image.checked" />
                                    <div class="c100 p{{item.progress}} small process-image">
                                        <span>{{ image.FileSize/1024/1024|number:2 }} MB</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <img class="img-rounded" ng-src="{{image.FileUrl | filterImage}}" style="width:100px; height:100px;" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px; margin-top: 10px;">
                                    <label for="addFile" class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Thêm mới hình ảnh...</span>
                                        <input type="file" id="addFile" style="display:none;" nv-file-select="" uploader="uploader" multiple="">
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12" ng-show="uploader.queue !== null && uploader.queue.length > 0">
                                <div class="col-sm-12 col-md-12">
                                    <div class="imge-box" id="list-image" ng-repeat="item in uploader.queue">
                                        <span><i class="fa fa-times delete-image" ng-click="item.remove($index)"></i></span>
                                        <div class="c100 p{{item.progress}} small process-image">
                                            <span>{{ item.file.size/1024/1024|number:2 }} MB</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <img class="img-rounded" src="{{item.uploadsrc}}" style="width:100px; height:100px;" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="col-sm-12 col-md-12">
                                    <div>
                                        Queue progress:
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}% Complete</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Audio</label>
                                        <input type="text" class="form-control" name="audio" ng-model="cultural.Audio">
                                        <button class="btn btn-default" type="button" ng-click="chooseAudioFile()">Chọn file Audio</button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Audio (English)</label>
                                        <input type="text" class="form-control" name="audioEn" ng-model="cultural.AudioEn">
                                        <button class="btn btn-default" type="button" ng-click="chooseAudioFileEn()">Chọn file Audio</button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Thời gian mở hội</label>
                                        <input type="text" class="form-control" name="opendate" ng-model="cultural.OpenDate" required>
                                        <span ng-show="frmEditCultural.opendate.$invalid" class="has-error">Nhập thời gian mở hội</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Miêu tả ngắn (Vietnamese)</label>
                                        <textarea cols="10" rows="9" class="form-control" name="shortdes" ng-model="cultural.ShortDes" type="text" />
                                        <span ng-show="frmEditCultural.shortdes.$invalid" class="has-error">Nhập mô tả ngắn bằng tiếng việt</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Miêu tả ngắn (English)</label>
                                        <textarea cols="10" rows="9" class="form-control" name="shortdesEn" ng-model="cultural.ShortDesEn" type="text" />
                                        <span ng-show="frmEditCultural.shortdesEn.$invalid" class="has-error">Nhập mô tả ngắn bằng tiếng anh</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả (Vietnamese)</label>
                                        <textarea type="text" cols="10" rows="9" class="form-control" name="longdes" ckeditor="ckeditorOptions" ng-model="cultural.LongDes" />
                                        <span ng-show="frmEditCultural.longdes.$invalid" class="has-error">Nhập nội dung bằng tiếng việt</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả (English)</label>
                                        <textarea type="text" cols="10" rows="9" class="form-control" name="longdesEn" ckeditor="ckeditorOptions" ng-model="cultural.LongDesEn" />
                                        <span ng-show="frmEditCultural.longdesEn.$invalid" class="has-error">Nhập nội dung bằng tiếng anh</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <label>Chọn vị trí</label>
                                </div>
                            </div>

                            <div class="col-sm-12" style="margin-bottom: 20px;">
                                <input type="text" class="form-control" id="mapsearch" size="50" placeholder="Nhập địa danh ..." />
                                <div class="mapdata" style="margin:auto; width:97%;">
                                    <div id="map" style="width:100%;height:400px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Trạng thái: &nbsp&nbsp&nbsp</label>
                                    <toggle ng-model="cultural.isActive" on="Hiển thị" off="Ẩn" offstyle="btn-danger" onstyle="btn-success"></toggle>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-default pull-left" ui-sref="culturals">Hủy</button>
                        <button type="submit" class="btn btn-info pull-right" ng-click="addCultural()" ng-disabled="frmEditCultural.$invalid">Sửa mới</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</section>
<!--!uploader.getNotUploadedItems().length || -->
<!-- /.content -->