﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới khách sạn
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="hotels">Danh sách khách sạn</a></li>
        <li class="active">Thêm mới</li>
    </ol>
    <style>
        .process-image {
            position: absolute;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate name="frmAddHotel" role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    <label class="control-label">Avatar</label>
                                    <img ng-src="{{hotel.Avatar | filterImage}}" style="max-width:250px;" />
                                </div>
                                <div class="col-sm-2" style="margin-top:25px;">
                                    <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px;">
                                        <label for="file-upload" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Avatar...</span>
                                            <input type="file" id="file-upload" custom-on-change="uploadFile" style="display:none;" />
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="name" ng-change="GetSeoTitle()" placeholder="Nhập tên khách sạn..." ng-model="hotel.Name">
                                        <span ng-show="frmAddHotel.name.$invalid" class="has-error">Nhập tên khách sạn</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">SEO (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="alias" placeholder="SEO Url..." ng-model="hotel.Alias">
                                        <span ng-show="frmAddHotel.alias.$invalid" class="has-error">Nhập SEO URL</span>
                                    </div>
                                </div>
                                <!--<div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail3" class="control-label">Địa chỉ</label>
                    <input type="text" class="form-control" required name="address" placeholder="Địa chỉ" ng-model="hotel.Address">
                    <span ng-show="frmAddHotel.address.$invalid" class="has-error">Nhập địa chỉ</span>
                </div>

            </div>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name (English)</label>
                                        <input type="text" class="form-control" required name="nameEn" ng-change="GetSeoTitleEn()" placeholder="Nhập tên khách sạn..." ng-model="hotel.NameEn">
                                        <span ng-show="frmAddHotel.nameEn.$invalid" class="has-error">Nhập tên khách sạn bằng tiếng anh</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">SEO (English)</label>
                                        <input type="text" class="form-control" required name="aliasEn" placeholder="SEO Url..." ng-model="hotel.AliasEn">
                                        <span ng-show="frmAddHotel.aliasEn.$invalid" class="has-error">Nhập SEO URL</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputemail3" class="control-label">Địa chỉ (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="address" placeholder="địa chỉ" ng-model="hotel.address">
                                        <span ng-show="frmaddhotel.address.$invalid" class="has-error">nhập địa chỉ</span>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputemail3" class="control-label">Địa chỉ (English)</label>
                                        <input type="text" class="form-control" required name="addressEn" placeholder="địa chỉ" ng-model="hotel.addressEn">
                                        <span ng-show="frmaddhotel.addressEn.$invalid" class="has-error">nhập địa chỉ bằng tiếng anh</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Link video</label>
                                        <input type="text" class="form-control" required name="videodir" placeholder="Link video" ng-model="hotel.VideoDir">
                                        <span ng-show="frmAddHotel.videodir.$invalid" class="has-error">Nhập link video</span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Doanh nghiệp:</label>
                                        <select class="form-control" ng-model="hotel.EnterpriseId">
                                            <option value="" disabled>Chọn doanh nghiệp</option>
                                            <option ng-repeat="enterprise in enterprises" value="{{enterprise.Id}}">{{enterprise.Name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">HotLine:</label>
                                        <input type="text" class="form-control" required name="hotline" placeholder="Số điện thoại liên hệ" ng-model="hotel.HotLine">
                                        <span ng-show="frmAddHotel.hotline.$invalid" class="has-error">Nhập số điện thoại liên hệ</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Giá: </label>
                                        <input type="text" class="form-control" required name="price" only-digits placeholder="Link video" ng-model="hotel.Price">
                                        <span ng-show="frmAddHotel.price.$invalid" class="has-error">Nhập giá khách sạn</span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Sao: </label>
                                        <div star-rating ng-model="hotel.Star" readonly="false" max="5"></div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <button data-target="#locationModal" data-toggle="modal" class="btn btn-info">Chọn địa danh</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <button data-target="#serviceModal" data-toggle="modal" class="btn btn-info">Chọn dịch vụ</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top:20px;">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px; margin-top: 10px;">
                                    <label for="addFile" class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Thêm mới hình ảnh...</span>
                                        <input type="file" id="addFile" style="display:none;" nv-file-select="" uploader="uploader" multiple="">
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12" ng-show="uploader.queue !== null && uploader.queue.length > 0">
                                <div class="col-sm-12 col-md-12">
                                    <div class="imge-box" id="list-image" ng-repeat="item in uploader.queue">
                                        <span><i class="fa fa-times delete-image" ng-click="item.remove($index)"></i></span>
                                        <div class="c100 p{{item.progress}} small process-image">
                                            <span>{{ item.file.size/1024/1024|number:2 }} MB</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <img class="img-rounded" src="{{item.uploadsrc}}" style="width:100px; height:100px;" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="col-sm-12 col-md-12">
                                    <div>
                                        Queue progress:
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}% Complete</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Miêu tả ngắn (Vietnamese)</label>
                                        <textarea cols="10" rows="9" class="form-control" ng-model="hotel.ShortDes" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Miêu tả ngắn (English)</label>
                                        <textarea cols="10" rows="9" class="form-control" ng-model="hotel.ShortDesEn" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả (Vietnamese)</label>
                                        <textarea type="text" cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="hotel.LongDes" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả (English)</label>
                                        <textarea type="text" cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="hotel.LongDesEn" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <label>Chọn vị trí</label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="mapsearch" size="50" placeholder="Nhập địa danh ..." />
                                <div class="mapdata" style="margin:auto; width:97%;">
                                    <div id="map" style="width:100%;height:400px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Trạng thái: &nbsp&nbsp&nbsp</label>
                                    <toggle ng-model="hotel.isActive" on="Hiển thị" off="Ẩn" offstyle="btn-danger" onstyle="btn-success"></toggle>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-default pull-left" ui-sref="hotels">Hủy</button>
                        <button type="submit" class="btn btn-info pull-right" ng-click="addHotel()" ng-disabled="!uploader.getNotUploadedItems().length || frmAddHotel.$invalid">Thêm mới</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="locationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    Chọn địa danh phục vụ
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <input class="form-control" placeholder="Tìm kiếm địa danh" ng-model="locationname" />
                        <br />
                        <ul style="margin-left: -42px;">
                            <li class="list-group-item" ng-repeat="location in locations | filter: searchLocation">
                                <label>
                                    <input type="checkbox" name="hotFlag" ng-model="location.checked" ng-checked="location.checked"> {{location.Name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="serviceModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    Chọn dịch vụ
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <input class="form-control" placeholder="Tìm kiếm dịch vụ" ng-model="servicename" />
                        <br />
                        <ul style="margin-left: -42px;">
                            <li class="list-group-item" ng-repeat="service in services | filter: searchService">
                                <label>
                                    <input type="checkbox" name="hotFlag" ng-model="service.checked" ng-checked="service.checked"> {{service.Name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->