﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #direction-panel {
        overflow: auto;
        height: 745px
    }

    .text-marker::after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: rgba(255, 255, 255, 0.9);
        border-width: 10px;
        margin-top: -67px;
    }
</style>
<section class="parallax-window" data-parallax="scroll" data-image-src="/Assets/home/banner/bando.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>
                <li>@Resources.General.Map</li>
            </ul>
        </div>
    </div>

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">
                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>@Resources.General.Filters</a>
                    <div class="collapse show" id="collapseFilters">
                        <div class="filter_type routing">
                            <h6 style="font-weight:bold">@Resources.Map.Find_way</h6>
                            <p>
                                @Resources.Map.Start_point:
                            </p>
                            <input type="text" class=" form-control input-sm" id="mapSearchSt" placeholder="@Resources.Map.Enter_location ..." />
                            <br />
                            <p>
                                @Resources.Map.End_point:
                            </p>
                            <input type="text" class=" form-control input-sm" id="mapSearchEnd_1" placeholder="@Resources.Map.Enter_location ..." />
                            <br/>
                            <button type="button" id="add-route" class="apply-filter-btn">
                                @Resources.General.Add
                            </button>
                            <br />
                            <br />
                            <p>
                                @Resources.Map.Select_vehicle:
                            </p>
                            <select id="mode" class="form-control">
                                <option value="DRIVING">@Resources.Map.Car</option>
                                <option value="WALKING">@Resources.Map.Walk</option>
                                <option value="BICYCLING">@Resources.Map.Motorbike</option>
                                <option value="TRANSIT">@Resources.Map.Transit</option>
                            </select>
                            <br />
                            <button type="button" id="apply-route" class="apply-filter-btn">
                                @Resources.General.Apply
                            </button>
                            <br />
                        </div>
                        <div class="filter_type map_category">
                            <h6 style="font-weight:bold">@Resources.Map.Select_map_layer</h6>
                            @Html.DropDownList("Categories", null, new { id = "category", @class = "form-control", @style = "width:228px;overflow:hidden;" })
                        </div>
                        <div class="filter_type note">
                            <h6 style="font-weight:bold">@Resources.Map.Note</h6>
                            <img src="/Assets/home/img/pins/Walking.png" style="display:inline; width:40px;height:40px">
                            <p style="display:inline;">: @Resources.Map.Note1</p>
                            <br>
                            <img src="/Assets/home/img/pins/Historic.png" style="display:inline;width:40px;height:40px">
                            <p style="display:inline;">: @Resources.Map.Note2</p>
                            <br>
                            <img src="/Assets/home/img/pins/Hotels.png" style="display:inline;width:40px;height:40px">
                            <p style="display:inline;">: @Resources.Map.Note3</p>
                            <br>
                            <img src="/Assets/home/img/pins/International.png" style="display:inline;width:40px;height:40px">
                            <p style="display:inline;">: @Resources.Map.Note4</p>
                        </div>
                        <div class="filter_type current-location">
                            <h6 style="font-weight:bold">@Resources.Map.Current_position</h6>
                            <span id="current-lat"></span>
                            <span id="current-ln"></span><br />
                            <span id="current-place"></span>
                        </div>
                    </div>
                    <!--End collapse -->
                </div>
            </aside>
            <!--End aside -->
            <div class="col-lg-9" style="height:745px" id="map">
            </div>
            <div class="col-lg-3" id="direction-panel">
            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->
<script>
    var counter = 2;
    var map, infoWindow;
    var directionsService, directionsDisplay;
    var nb_marker;
    $.ajax({
        async: false,
        type: 'GET',
        url: '/Map/GetPois',
        contentType: "application/json; charset=utf-8;",
        success: function (res) {
            nb_marker = res;
            console.log(res)
        }
    });
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                $("#current-lat").text(pos.lat);
                $("#current-ln").text(pos.lng);
                var geocoder = new google.maps.Geocoder();             // create a geocoder object
                var location = new google.maps.LatLng(pos.lat, pos.lng);    // turn coordinates into an object
                geocoder.geocode({ 'latLng': location }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {           // if geocode success
                        var add = results[0].formatted_address;
                        $("#current-place").text(add);
                    }
                });
            }, function () {
                console.log("failed")
            });
        } else {
            // Browser doesn't support Geolocation
            console.log("failed")
        }
        $("#direction-panel").hide();
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: new google.maps.LatLng(21.817258, 105.217225),
            mapTypeId: 'roadmap'
        });
        var searchBoxSt = new google.maps.places.SearchBox(document.getElementById("mapSearchSt"));
        document.getElementById('mapSearchSt').addEventListener('keypress', function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
        map.addListener('bounds_changed', function () {
            searchBoxSt.setBounds(map.getBounds());
        });
        searchBoxSt.addListener("places_changed", function () {
            var places = searchBoxSt.getPlaces();
            if (places.length == 0) {
                return;
            }
            //bound
            var bounds = new google.maps.LatLngBounds();
            var i, place;
            for (i = 0; place = places[i]; i++) {
                bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
            map.setZoom(17);

        });
        var searchBoxEnd = new google.maps.places.SearchBox(document.getElementById("mapSearchEnd_1"));
        document.getElementById('mapSearchEnd_1').addEventListener('keypress', function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
        map.addListener('bounds_changed', function () {
            searchBoxEnd.setBounds(map.getBounds());
        });
        searchBoxEnd.addListener("places_changed", function () {
            var places = searchBoxEnd.getPlaces();
            if (places.length == 0) {
                return;
            }
            //bound
            var bounds = new google.maps.LatLngBounds();
            var i, place;
            for (i = 0; place = places[i]; i++) {
                bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
            map.setZoom(17);

        });
        $("#add-route").click(function () {
            if (counter > 10) {
                alert("Tối đa chỉ 10 điểm đích");
                return false;
            }
            var newTextBox = '<input type="text" class=" form-control input-sm" id="mapSearchEnd_' + counter + '" placeholder="@Resources.Map.Enter_location '+counter+'..." />'
            // $("#mapSearchEnd_" + (counter - 1)).after().html(newTextBox);
            $(newTextBox).insertAfter("#mapSearchEnd_" + (counter - 1))
            console.log($("#mapSearchEnd_" + counter).html())
            var searchBoxEnd = new google.maps.places.SearchBox(document.getElementById("mapSearchEnd_" + counter));
            document.getElementById("mapSearchEnd_" + counter).addEventListener('keypress', function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                }
            });
            map.addListener('bounds_changed', function () {
                searchBoxEnd.setBounds(map.getBounds());
            });
            searchBoxEnd.addListener("places_changed", function () {
                var places = searchBoxEnd.getPlaces();
                if (places.length == 0) {
                    return;
                }
                //bound
                var bounds = new google.maps.LatLngBounds();
                var i, place;
                for (i = 0; place = places[i]; i++) {
                    bounds.extend(place.geometry.location);
                }
                map.fitBounds(bounds);
                map.setZoom(17);

            });
            counter++;
        });
        map.data.loadGeoJson('https://api.myjson.com/bins/lw28y');

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('direction-panel'));
        var iconBase = '/Assets/home/img/pins/';
        var icons = {
            "0": {
                url: iconBase + 'Walking.png'
            },
            "1": {
                url: iconBase + 'Hotels.png'
            },
            "2": {
                url: iconBase + 'Historic.png'
            },
            "3": {
                url: iconBase + 'International.png'
            }
        };
        var features = [];

        for (var i = 0; i < nb_marker.length; i++) {
            tmp_type = nb_marker[i].CategoryId - 1;
            var m = {
                position: new google.maps.LatLng(nb_marker[i].Latitude, nb_marker[i].Longitude),
                type: tmp_type,
                image: nb_marker[i].Image.replace('~/', '/'),
                name: nb_marker[i].Name,
                url: nb_marker[i].Url
            };
            features.push(m);
        }

        // Create markers.
        features.forEach(function (feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type],
                map: map
            });
            var info_marker = {
                map_image_url: feature.image,
                name_point: feature.name,
                url: feature.url
            }
            google.maps.event.addListener(marker, 'click', (function () {
                closeInfoBox();
                getInfoBox(info_marker).open(map, this);
                map.setCenter(feature.position);
            }));
        });
        function closeInfoBox() {
            $('div.infoBox').remove();
        };

        function getInfoBox(item) {
            return new InfoBox({
                content:
                    '<div class="marker_info text-marker" id="marker_info" style="height:195px" >' +
                    '<img src="' + item.map_image_url + '" alt="Image" style ="width:280px;height:140px"/>' +
                    '<h3>' + item.name_point + '</h3>' +
                    '<a href="' + item.url + '" target="_blank" class="btn_infobox_get_directions">Xem chi tiết</a>' +
                    '</div>',
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(10, 125),
                closeBoxMargin: '5px -20px 2px 2px',
                closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
                isHidden: false,
                alignBottom: true,
                pane: 'floatPane',
                enableEventPropagation: true
            });


        };
        var btnRouting = document.getElementById("apply-route")

        btnRouting.addEventListener('click', processRouting);

        function processRouting() {
            $("#direction-panel").show();
            $("#map").removeClass("col-lg-9").addClass("col-lg-6");
            var request_st_point = {
                location: new google.maps.LatLng(21.817258, 105.217225),
                query: mapSearchSt.value
            }
            var end_point = document.getElementById("mapSearchEnd_" + (counter - 1));
            var request_end_point = {
                location: new google.maps.LatLng(21.817258, 105.217225),
                query: end_point.value
            }
            var waypoints_ = [];
            if (counter > 2) {
                for (i = 1; i < counter - 1; i++) {
                    waypoints_.push(
                        {
                            location: document.getElementById("mapSearchEnd_" + i).value,
                            stopover: true
                        }
                    );
                }
            }
            var place_st, place_end;
            var service = new google.maps.places.PlacesService(map);
            service.textSearch(request_st_point, callback_st);

            function callback_st(results, status) {

                if (status == google.maps.places.PlacesServiceStatus.OK) {
                    place_st = results[0];
                    service.textSearch(request_end_point, callback_end);
                } else {
                    console.log("Không tìm thấy vị trí bắt đầu phù hợp")
                }
            }

            function callback_end(results, status) {
                if (status == google.maps.places.PlacesServiceStatus.OK) {
                    place_end = results[0];
                    var selectedMode = document.getElementById('mode').value;
                    var request = {
                        origin: new google.maps.LatLng(place_st.geometry.location.lat(), place_st.geometry.location
                            .lng()),
                        destination: new google.maps.LatLng(place_end.geometry.location.lat(), place_end.geometry.location
                            .lng()),
                        waypoints: waypoints_,
                        travelMode: google.maps.TravelMode[selectedMode]
                    };
                    directionsService.route(request, function (response, status) {
                        directionsDisplay.setDirections(response);
                    });
                } else {
                    console.log("Không tìm thấy vị trí kết thúc phù hợp")
                }
            }
        }
        $("#category").change(function () {
            $("#map").removeClass("col-lg-6").addClass("col-lg-9");
            $("#direction-panel").hide();
            if ($("#category").val() != 0) {
                initMap();
                var category_id = $("#category").val();
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: new google.maps.LatLng(21.817258, 105.217225),
                    mapTypeId: 'roadmap'
                });
                var iconBase = '/Assets/home/img/pins/';
                var icons = {
                    "0": {
                        url: iconBase + 'Walking.png'
                    },
                    "1": {
                        url: iconBase + 'Hotels.png'
                    },
                    "2": {
                        url: iconBase + 'Historic.png'
                    },
                    "3": {
                        url: iconBase + 'International.png'
                    }
                };
                var nb_marker_new = [];
                $.each(nb_marker, function (key, value) {
                    if (nb_marker[key].CategoryId == category_id) {
                        nb_marker_new.push(nb_marker[key]);
                    }
                });
                console.log(nb_marker_new)
                var features = [];

                for (var i = 0; i < nb_marker_new.length; i++) {
                    tmp_type = nb_marker_new[i].CategoryId - 1;
                    var m = {
                        position: new google.maps.LatLng(nb_marker_new[i].Latitude, nb_marker_new[i].Longitude),
                        type: tmp_type,
                        image: nb_marker_new[i].Image.replace('~/', '/'),
                        name: nb_marker_new[i].Name,
                        url: nb_marker_new[i].Url
                    };
                    features.push(m);
                }

                // Create markers.
                features.forEach(function (feature) {
                    var marker = new google.maps.Marker({
                        position: feature.position,
                        icon: icons[feature.type],
                        map: map,
                    });
                    var info_marker = {
                        map_image_url: feature.image,
                        name_point: feature.name,
                        url: feature.url
                    }
                    google.maps.event.addListener(marker, 'click', (function () {
                        closeInfoBox();
                        getInfoBox(info_marker).open(map, this);
                        map.setCenter(feature.position);
                    }));
                });
                function closeInfoBox() {
                    $('div.infoBox').remove();
                };

                function getInfoBox(item) {
                    return new InfoBox({
                        content:
                            '<div class="marker_info text-marker" id="marker_info" style="height:215px" >' +
                            '<img src="' + item.map_image_url + '" alt="Image" style ="width:280px;height:140px"/>' +
                            '<h3>' + item.name_point + '</h3>' +
                            '<a href="' + item.url + '" target="_blank" class="btn_infobox_get_directions">Xem chi tiết</a>' +
                            '</div>',
                        disableAutoPan: false,
                        maxWidth: 0,
                        pixelOffset: new google.maps.Size(10, 125),
                        closeBoxMargin: '5px -20px 2px 2px',
                        closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
                        isHidden: false,
                        alignBottom: true,
                        pane: 'floatPane',
                        enableEventPropagation: true
                    });


                };


                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById('direction-panel'));

            }
            else {
                initMap();
            }
        });
    }

</script>
