﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách ẩm thực
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="foods">Danh sách ẩm thực</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="getFoods()">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên ẩm thực ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getFoods()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-food">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10%">Avatar</th>
                            <th style="width: 10%">Tên</th>
                            <th style="width: 15%">Địa chỉ</th>
                            <th style="width: 10%">Tên quận(huyện)</th>
                            <th style="width: 10%">Trạng thái</th>
                            <th style="width: 5%">Lượt xem</th>
                            <th style="width: 5%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="food in foods | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td><img ng-src="{{food.Avatar | filterImage}}" class="img-rounded" style="width:100px; height:100px;" /></td>
                            <td>{{food.Name}}</td>
                            <td>{{food.Address}}</td>
                            <td>{{food.DistrictName}}</td>                        
                            <td>
                                <span class="{{food.isActive ==false ? 'badge bg-red' : 'badge bg-green'}}">{{food.isActive | isActive}}</span>
                            </td>
                            <td>{{food.ViewCount}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-food({id:food.Id})">Sửa mới</button>
                            </td>
                        </tr>
                        <tfoot ng-if="foods.length == 0">
                            <tr>
                                <td colspan="9">Không có kết quả nào</td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="foods.length > 0">
                            <tr>
                                <td colspan="4"><span class="pull-left">Tổng số bản ghi trong một trang là 10</span></td>
                                <td colspan="5"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getFoods(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
