﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách banner
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="banners">Danh sách banner</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="getBanners()">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên banner ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getBanners()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-banner">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 50%">Ảnh</th>
                            <th style="width: 30%">Tên</th>
                            <th style="width: 10%">Trạng thái</th>
                            <th style="width: 10%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="banner in banners | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td><img ng-src="{{banner.Image | filterImage}}" class="img-rounded" style="width:400px; height:100px;" /></td>
                            <td>{{banner.Name}}</td>
                            <td>
                                <span ng-class="{'badge bg-red':banner.Active==false,'badge bg-green':banner.Active==true}">{{(!banner.Active) | statusFomart}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-banner({id:banner.Id})">Sửa mới</button>
                            </td>
                        </tr>
                        <tfoot ng-if="banners.length == 0">
                            <tr>
                                <td colspan="9">Không có kết quả nào</td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="banners.length > 0">
                            <tr>
                                <td colspan="6"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getBanners(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
