﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sửa mới địa danh
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="locations">Danh sách địa danh</a></li>
        <li class="active">Sửa mới</li>
    </ol>
    <style>
        .process-image {
            position: absolute;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate name="frmEditLocation" role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    <label class="control-label">Avatar</label>
                                    <img ng-src="{{location.Avatar | filterImage}}" style="max-width:250px;" />
                                </div>
                                <div class="col-sm-2" style="margin-top:25px;">
                                    <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px;">
                                        <label for="file-upload" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Avatar...</span>
                                            <input type="file" id="file-upload" custom-on-change="uploadFile" style="display:none;" />
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name (Vietnamese)</label>
                                        <input type="text" class="form-control" ng-change="GetSeoTitle()" required name="name" placeholder="Tên địa danh..." ng-model="location.Name">
                                        <span ng-show="frmEditLocation.name.$invalid" class="has-error">Nhập tên địa danh</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">SEO (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="alias" placeholder="SEO Url..." ng-model="location.Alias">
                                        <span ng-show="frmEditLocation.alias.$invalid" class="has-error">Nhập SEO URL</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name (English)</label>
                                        <input type="text" class="form-control" ng-change="GetSeoTitleEn()" required name="nameEn" placeholder="Tên địa danh..." ng-model="location.NameEn">
                                        <span ng-show="frmEditLocation.nameEn.$invalid" class="has-error">Nhập tên địa danh bằng tiếng anh</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">SEO (English)</label>
                                        <input type="text" class="form-control" required name="aliasEn" placeholder="SEO Url..." ng-model="location.AliasEn">
                                        <span ng-show="frmEditLocation.aliasEn.$invalid" class="has-error">Nhập SEO URL bằng tiếng anh</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Địa chỉ (Vietnamese)</label>
                                        <input type="text" class="form-control" required name="address" placeholder="Địa chỉ" ng-model="location.Address">
                                        <span ng-show="frmEditLocation.address.$invalid" class="has-error">Nhập địa chỉ bằng tiếng việt</span>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Địa chỉ (English)</label>
                                        <input type="text" class="form-control" required name="addressEn" placeholder="Địa chỉ" ng-model="location.AddressEn">
                                        <span ng-show="frmEditLocation.addressEn.$invalid" class="has-error">Nhập địa chỉ bằng tiếng anh</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Link video</label>
                                        <input type="text" class="form-control" required name="videodir" placeholder="Link video" ng-model="location.VideoDir">
                                        <span ng-show="frmEditLocation.videodir.$invalid" class="has-error">Nhập link video</span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Link video (English)</label>
                                        <input type="text" class="form-control" required name="videodirEn" placeholder="Link video (English)" ng-model="location.VideoDirEn">
                                        <span ng-show="frmEditLocation.videodirEn.$invalid" class="has-error">Nhập link video (English)</span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Loại địa danh:</label>
                                        <select class="form-control" ng-model="location.LocationCategoryId">
                                            <option value="" disabled>Chọn địa danh</option>
                                            <option ng-repeat="category in categories" value="{{category.Id}}">{{category.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: 20px;">
                                <div class="col-sm-2">
                                    <label>Hình ảnh</label>
                                </div>
                                <label class="label label-info" ng-show="location.Images.length==0">
                                    Không có hình ảnh nào
                                </label>
                                <div class="col-sm-4 btn-group" ng-show="location.Images.length>0">
                                    <label class="btn btn-info" for="checkAll">{{checkAll !== true ? 'Chọn tất cả' : 'Bỏ chọn tất cả'}}</label>
                                    <input id="checkAll" type="checkbox" style="display:none" ng-model="checkAll" />
                                    <button class="btn btn-info" ng-click="removeAllImages()">Xoá các ảnh đã chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12" style="margin-left: 15px;">
                            <div class="imge-box" id="list-image" ng-repeat="image in location.Images">
                                <span><i class="fa fa-times delete-image" ng-click="removeImage($index)"></i></span>
                                <input class="check-image" type="checkbox" ng-model="image.checked" />
                                <div class="c100 p{{item.progress}} small process-image">
                                    <span>{{ image.FileSize/1024/1024|number:2 }} MB</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <img class="img-rounded" ng-src="{{image.FileUrl | filterImage}}" style="width:100px; height:100px;" />
                            </div>
                        </div>
                    </div>



                    <div class="row" style="margin-top:20px;">


                        <div class="col-sm-12">
                            <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px; margin-top: 10px;">
                                <label for="addFile" class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm hình ảnh...</span>
                                    <input type="file" id="addFile" style="display:none;" nv-file-select="" uploader="uploader" multiple="">
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-12" ng-show="uploader.queue !== null && uploader.queue.length > 0">
                            <div class="col-sm-12 col-md-12">
                                <div class="imge-box" id="list-image" ng-repeat="item in uploader.queue">
                                    <span><i class="fa fa-times delete-image" ng-click="item.remove($index)"></i></span>
                                    <div class="c100 p{{item.progress}} small process-image">
                                        <span>{{ item.file.size/1024/1024|number:2 }} MB</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <img class="img-rounded" src="{{item.uploadsrc}}" style="width:100px; height:100px;" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12" ng-show="uploader.queue !== null && uploader.queue.length > 0">
                            <div class="col-sm-12 col-md-12">
                                <div>
                                    Tiến trình thường hiện:
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}% Complete</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Audio</label>
                                    <input type="text" class="form-control" name="audio" ng-model="location.Audio">
                                    <button class="btn btn-default" type="button" ng-click="chooseAudioFile()">Chọn file Audio</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Audio (English)</label>
                                    <input type="text" class="form-control" name="audioEn" ng-model="location.AudioEn">
                                    <button class="btn btn-default" type="button" ng-click="chooseAudioFileEn()">Chọn file Audio</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Giờ mở cửa</label>
                                    <input type="text" class="form-control" name="opendate" ng-model="location.OpenDate" required>
                                    <span ng-show="frmEditLocation.opendate.$invalid" class="has-error">Nhập giờ mở cửa</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">SĐT liên nệ</label>
                                    <input type="text" class="form-control" name="phonenumber" ng-model="location.PhoneNumber" required>
                                    <span ng-show="frmEditLocation.phonenumber.$invalid" class="has-error">Nhập số điện thoại</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Miêu tả ngắn (Vietnamese)</label>
                                    <textarea cols="10" rows="9" class="form-control" ng-model="location.ShortDes" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Miêu tả ngắn (English)</label>
                                    <textarea cols="10" rows="9" class="form-control" ng-model="location.ShortDesEn" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Mô tả (Vietnamese)</label>
                                    <textarea type="text" cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="location.LongDes" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Mô tả (English)</label>
                                    <textarea type="text" cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="location.LongDesEn" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Chọn vị trí</label>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-bottom: 20px;margin-top:20px">
                            <input type="text" class="form-control" id="mapsearch" size="50" placeholder="Nhập địa danh ..." />
                            <div class="mapdata" style="margin:auto; width:97%;">
                                <div id="map" style="width:100%;height:400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <label>Trạng thái: &nbsp&nbsp&nbsp</label>
                                <toggle ng-model="location.isActive" on="Hiển thị" off="Ẩn" offstyle="btn-danger" onstyle="btn-success"></toggle>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-default pull-left" ui-sref="locations">Hủy</button>
                        <button type="submit" class="btn btn-info pull-right" ng-click="editLocation()" ng-disabled="(!uploader.getNotUploadedItems().length && location.Images.lenght == 0) || frmEditLocation.$invalid">Sửa mới</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
    <!-- /.box -->
</section>
<!-- /.content -->