﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách địa danh
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="locations">Danh sách địa danh</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="getLocations()">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên địa danh ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getLocations()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-location">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10%">Avatar</th>
                            <th style="width: 20%">Tên</th>
                            <th style="width:15%">Địa chỉ</th>          
                            <th style="width:15%">Danh mục</th>
                           
                            <th style="width: 15%">Trạng thái</th>
                            <th style="width: 5%">Lượt xem</th>
                            <th style="width: 10%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="location in locations | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td><img ng-src="{{location.Avatar | filterImage}}" class="img-rounded" style="width:100px; height: 100px;" /></td>
                            <td>{{location.Name}}</td>
                            <td>{{location.Address}}</td>
                            <td>{{location.categoryLocation.Name}}</td>
                           
                            <td>
                                <span class="{{location.isActive ==false ? 'badge bg-red' : 'badge bg-green'}}">{{location.isActive | isActive}}</span>
                            </td>
                            <td>{{location.ViewCount}}</td>                    
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-location({id:location.Id})">Sửa mới</button>
                            </td>
                        </tr>
                        <tfoot ng-if="locations.length == 0">
                            <tr>
                                <td colspan="9">Không có kết quả nào</td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="locations.length > 0">
                            <tr>
                                <td colspan="4"><span class="pull-left">Tổng số bản ghi trong một trang là 10</span></td>
                                <td colspan="5"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getLocations(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
