﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách các chức năng
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="permissions">Danh sách chức năng</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 40%">Tên chức năng</th>
                            <th style="width:60%">Mô tả chức năng</th>

                        </tr>

                        <tr ng-repeat="permisstion in permisstions">
                            <td>{{permisstion.Name}}</td>
                            <td>{{permisstion.Description}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->