﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới quyền
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="roles">Danh sách quyền</a></li>
        <li class="active">Thêm mới</li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }

        .has-error {
            color: red;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info" style="height:700px;">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddRole" role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên quyền</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="name" placeholder="Tên quyền" ng-model="role.Name">
                        <span ng-show="frmAddRole.name.$invalid" class="has-error">Nhập tên quyền</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả quyền hạn</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="description" required ng-model="role.Description" />
                        <span ng-show="frmAddRole.description.$invalid" class="has-error">Nhập mô tả quyền hạn</span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-default" ui-sref="roles">Hủy</button>
                        <button type="submit" ng-disabled="frmAddRole.$invalid" class="btn btn-info pull-right" ng-click="addRole()">Thêm mới</button>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->