﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@Resources.Account.Locked_out</h1>
    <h2 class="text-danger">@Resources.Account.Mesage_locked_out</h2>
</hgroup>
