﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm chức năng quyền hạn
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="roles">Danh sách quyền</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <div class="box-tools pull-right">

            </div>
        </div>
        <div class="box-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Thêm chức năng cho quyền <strong>{{roleName}}</strong></div>
                            <div class="panel-body">
                                <ul style="margin-left: -42px;">
                                    <li class="list-group-item" ng-repeat="per in rolePer.Permisstions">
                                        <label>
                                            <input type="checkbox" name="hotFlag" ng-model="per.Checked" ng-checked="per.Checked"> {{per.Name}}
                                        </label>
                                        <br />
                                        <label>Mô tả:</label>
                                        <div class="alert alert-success">
                                            {{per.Description}}
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn btn-primary col-md-4 col-md-offset-1" style="margin-left:1px;" ng-click="addPermisstion()">Thêm chức năng</button>
                                <button class="btn btn-primary col-md-4 col-md-offset-1 pull-right" ui-sref="roles">Hủy</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->