﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách quyền
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a ui-sref="roles">Danh sách quyền</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box" style="height:700px;">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-change="search()" placeholder="Nhập tên quyền ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="search()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-role">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 30%">Tên</th>
                            <th style="width:30%">Mô tả</th>
                            <th style="width:40%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="role in roles | itemsPerPage: 20" total-items="TotalCount" current-page="page">
                            <td>{{role.Name}}</td>
                            <td>{{role.Description}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-role({id:role.Id})">Sửa mới</button>
                                <span>  </span>
                                <button class="btn btn-danger  btn-sm" ui-sref="add-permisstion({id:role.Id, name:role.Name})">Gán chức năng</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->