﻿<!--<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách khách sạn
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="hotels">Danh khách sạn</a></li>
    </ol>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</section>
<!-- Main content -->
<section class="content" ng-init="getHotels()">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên khách sạn ..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getHotels()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" ui-sref="add-hotel">Thêm mới</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10%">Avatar</th>
                            <th style="width: 10%">Tên</th>
                            <th style="width: 10%">Giá phòng</th>
                            <th style="width: 15%">Địa chỉ</th>       
                            <th style="width: 10%">Tên doanh nghiệp</th>
                            <th style="width: 10%">Số sao</th>
                            <th style="width: 10%">SDT</th>
                            <th style="width: 5%">Trạng thái</th>
                            <th style="width: 5%">Lượt xem</th>
                            <th style="width: 5%">Tùy chọn</th>
                        </tr>

                        <tr dir-paginate="hotel in hotels | itemsPerPage: 10" total-items="TotalCount" current-page="page">
                            <td><img ng-src="{{hotel.Avatar | filterImage}}" class="img-rounded" style="width:100px; height:100px;" /></td>
                            <td>{{hotel.Name}}</td>
                            <td>{{hotel.Price}} VND</td>
                            <td>{{hotel.Address}}</td>
                            <td>{{hotel.enterprise.Name}}</td>
                            <td>
                                <div star-rating ng-model="hotel.Star" readonly="true" max="5"></div>
                            </td>
                            <td>{{hotel.HotLine}}</td>
                            <td>
                                <span class="{{hotel.isActive ==false ? 'badge bg-red' : 'badge bg-green'}}">{{hotel.isActive | isActive}}</span>
                            </td>
                            <td>{{hotel.ViewCount}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" ui-sref="edit-hotel({id:hotel.Id})">Sửa mới</button>
                            </td>
                        </tr>
                        <tfoot ng-if="hotels.length == 0">
                            <tr>
                                <td colspan="9">Không có kết quả nào</td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="hotels.length > 0">
                            <tr>
                                <td colspan="4"><span class="pull-left">Tổng số bản ghi trong một trang là 10</span></td>
                                <td colspan="5"><span class="pull-right">Trang: {{page}} / {{pagesCount}} - Tổng số bản ghi {{TotalCount}}</span></td>
                            </tr>
                            <dir-pagination-controls on-page-change="getHotels(page)"></dir-pagination-controls>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
