﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sửa mới  dịch vụ khách sạn
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="servicehotels">Danh sách dịch vụ khách sạn</a></li>
        <li class="active">Sửa mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="initData()">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate name="frmEditServicehotel" role="form" >
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    <label class="control-label">Image</label>
                                    <img ng-src="{{servicehotel.Icon | filterImage}}" style="max-width:250px;" />
                                </div>
                                <div class="col-sm-2" style="margin-top:25px;">
                                    <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px;">
                                        <label for="file-upload" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Icon...</span>
                                            <input type="file" id="file-upload" custom-on-change="uploadFile" style="display:none;" />
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmEditServicehotel.name.$invalid && !frmEditServicehotel.name.$pristine }">
                                        <label>Tên dịch vụ (Vietnamese)</label>
                                        <input class="form-control" name="name" ng-model="servicehotel.Name" required required-message="Tên bắt buộc." type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmEditServicehotel.name.$invalid && !frmEditServicehotel.name.$pristine }">
                                        <label>Tên dịch vụ (English)</label>
                                        <input class="form-control" name="name" ng-model="servicehotel.NameEn" required required-message="Tên bắt buộc." type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmEditServicehotel.Description.$invalid && !frmEditServicehotel.Description.$pristine }">
                                        <label>Mô tả (Vietnamese)</label>
                                        <textarea cols="10" rows="9" name="Description" class="form-control" ng-model="servicehotel.Description" type="text" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmEditServicehotel.Description.$invalid && !frmEditServicehotel.Description.$pristine }">
                                        <label>Mô tả (English)</label>
                                        <textarea cols="10" rows="9" name="Description" class="form-control" ng-model="servicehotel.DescriptionEn" type="text" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <label>Hiển thị icon/image</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="radio" name="ViewMethod" value="OnImage" checked="checked"/>
                                        <span>Image</span>
                                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="ViewMethod" value="OnIcon" />
                                        <span>Icon</span>
                                    </div>
                                    <div class="form-group">
                                        Lựa chọn một một phương thức hiển thị lên giao diện
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->


                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-default pull-left" ui-sref="servicehotels">Hủy</button>
                        <button type="submit" class="btn btn-info pull-right" ng-click="editServiceHotel()" ng-disabled="frmEditServicehotel.$invalid">Sửa mới</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->