﻿
<section class="content-header">
    <h1>
        Thêm mới người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="users">Danh sách người dùng</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{user.FullName}}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" role="form" novalidate name="frmAddAccount" ng-submit="register()">
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.fullName.$invalid && !frmAddAccount.fullName.$pristine }">
                                <label class="col-sm-2 control-label">Họ tên người dùng</label>
                                <div class="col-sm-10">
                                    <input type="text" name="fullName" class="form-control"
                                           required reqired-message="Họ tên bắt buộc." ng-model="user.FullName">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.userName.$invalid && !frmAddAccount.userName.$pristine }">
                                <label class="col-sm-2 control-label">Tài khoản</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName" class="form-control"
                                           required reqired-message="Tài khoản bắt buộc." ng-model="user.UserName">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.address.$invalid && !frmAddAccount.address.$pristine }">
                                <label class="col-sm-2 control-label">Địa chỉ</label>
                                <div class="col-sm-10">
                                    <input type="text" name="address" class="form-control"
                                           required reqired-message="Địa chỉ bắt buộc." ng-model="user.Address">
                                </div>
                            </div>
                            <div class="form-group">'
                                <label class="col-sm-2 control-label">Giới tính</label>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="gender" ng-model="user.Gender" ng-checked="user.Gender"> Nam
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.password.$invalid && !frmAddAccount.password.$pristine }">
                                <label class="col-sm-2 control-label">Mật khẩu</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"
                                           required reqired-message="Mật khẩu bắt buộc." ng-model="user.Password">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.confirmpassword.$invalid && !frmAddAccount.confirmpassword.$pristine }">
                                <label class="col-sm-2 control-label">Xác nhận mật khẩu</label>
                                <div class="col-sm-10">
                                    <input type="password" name="confirmpassword" class="form-control"
                                           required reqired-message="Mật khẩu bắt buộc." ng-model="user.VerifyPassword" password-match="user.Password">
                                </div>
                                <span style="color:red" ng-show="frmAddAccount.confirmpassword.$dirty && frmAddAccount.confirmpassword.$error.match">
                                    Mật khẩu không khớp
                                </span>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.email.$invalid && !frmAddAccount.email.$pristine }">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" class="form-control"
                                           required reqired-message="Email bắt buộc." ng-model="user.Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Điện thoại</label>
                                <div class="col-sm-10">
                                    <input type="tel" name="phonenumber" class="form-control"
                                           ng-model="user.PhoneNumber">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button ui-sref="users" class="btn btn-default">Hủy</button>
                        <button type="submit" ng-disabled="frmAddAccount.$invalid" class="btn btn-success pull-right">Lưu</button>
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>

