﻿@model IEnumerable<sTour.Entity.TouristService>
@using sTour.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isVi = sTour.Common.CommonConstants.CurrentCulture.ToString().Equals("vi");
}

<section class="parallax-window" data-parallax="scroll" data-image-src="https://d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/large-images/city-landscapes/mountain-35a5b806a83dc3393f7f5606697bc9191.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>
                <li>@Resources._Header.Service_utility</li>
            </ul>
        </div>
    </div>
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-9" id="categories">
                <h3 class="nomargin_top">@Resources.Map.Transport</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.TRANSPORT))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }

                <h3 class="nomargin_top">@Resources.Map.Station</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.STATION))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">@Resources.Map.Bank</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.BANK))
                {

                    <div id="bank" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#bank" href="#collapsebank_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn) <i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsebank_@item.Id" class="collapse" data-parent="#bank" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">@Resources.Map.Hospital</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.HOSPITAL))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">@Resources.Map.School</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.SCHOOL))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">@Resources.Map.Commerical_center</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.MARKET))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">@Resources.Map.Coffee_karaoke</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.COFFEE))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">Homestay</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.HOMESTAY))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <h3 class="nomargin_top">@Resources.Map.Managerment</h3>
                @foreach (var item in Model.Where(x => x.Category == TouristServiceConstant.MANAGERMENT))
                {

                    <div id="station" class="accordion_styled">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#station" href="#collapsestation_@item.Id" aria-expanded="false">@(isVi ? item.Name : item.NameEn) - @(isVi ? item.Address : item.AddressEn)<i class="indicator float-right icon-plus"></i></a>
                                </h4>
                            </div>
                            <div id="collapsestation_@item.Id" class="collapse" data-parent="#station" style="">
                                <div class="card-body">
                                    <img src="@item.Avatar.Remove(0,1)" />
                                    <br />
                                    @Html.Raw(isVi ? item.Content : item.ContentEn)
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->
@*<script src="~/App/app.config.js"></script>
<script>
    //$.each(categories, function (index, value) {
    //    console.log(value.Alias);
    //});
</script>*@
