﻿.has-error {
    color: red;
}

#mapsearch {
    width: 300px;
    height: 30px;
    top: 9px;
    left: 160px;
    position: absolute;
    z-index: 1000;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.filled {
    color: #fd0;
}

td, th {
    text-align: center;
}

.has-error {
    color: red;
}

.imge-box {
    width: 104px;
    height: 100px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.delete-image {
    padding: 2px;
    background: white;
    position: absolute;
    right: 4px;
    color: red;
    font-size: 11px;
    cursor: pointer;
}

.check-image {
    padding: 2px;
    background: white;
    position: absolute;
    left: 0px;
    top: -2px;
    color: red;
    font-size: 11px;
    cursor: pointer;
}

.process-image {
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}

.imge-box:hover .process-image,
.imge-box:hover ~ .process-image {
    display: block;
}
