﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới banner
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="banners">Danh sách banner</a></li>
        <li class="active">Thêm mới</li>
    </ol>
    <style>
        .process-image {
            position: absolute;
        }
    </style>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form novalidate name="frmAddBanner" role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">


                                <div class="col-sm-3">
                                    <label class="control-label">Image</label>
                                    <img ng-src="{{banner.Image | filterImage}}" style="max-width:250px;" />
                                </div>
                                <div class="col-sm-2" style="margin-top:25px;">
                                    <div class="pull-right" style="margin-right: 15px; margin-bottom: 10px;">
                                        <label for="file-upload" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Image...</span>
                                            <input type="file" id="file-upload" custom-on-change="uploadFile" style="display:none;" />
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="control-label">Name</label>
                                        <input type="text" class="form-control" required name="name" placeholder="Nhập tên banner..." ng-model="banner.Name">
                                        <span ng-show="frmAddBanner.name.$invalid" class="has-error">Nhập tên banner</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <textarea type="text" cols="10" rows="9" class="form-control" ckeditor="ckeditorOptions" ng-model="banner.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <label>
                                <input type="checkbox" name="active" ng-model="banner.Active" ng-checked="banner.Active"> Kích hoạt
                            </label>


                        </div>

                    </div>

                </div>


            </div>

    
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-default pull-left" ui-sref="banners">Hủy</button>
                <button type="submit" class="btn btn-info pull-right" ng-click="addBanner()" ng-disabled="frmAddBanner.$invalid">Thêm mới</button>
            </div>
        </div>
    </div>
    </form>
    </div>


</section>
<!-- /.content -->