﻿@model sTour.Web.Models.RestaurantModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<sTour.Web.Models.FileAttach> images = JsonConvert.DeserializeObject<List<sTour.Web.Models.FileAttach>>(Model.Images);
    bool isVi = sTour.Common.CommonConstants.CurrentCulture.ToString().Equals("vi");
}
<section class="parallax-window" data-parallax="scroll" data-image-src="https://d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/large-images/city-landscapes/mountain-35a5b806a83dc3393f7f5606697bc9191.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="rating">
                        @for (int i = 0; i < Model.Star; i++)
                        {
                            <i class="icon-star voted"></i>
                        }

                    </span>
                    <h1>@(isVi ? Model.Name : Model.NameEn)</h1>
                    <span>@(isVi ? Model.Address : Model.AddressEn)</span>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main" class="restaurant">
                        @Resources.General.From_per_night <span><sup>₫</sup>@string.Format("{0:0,0}", Model.Price)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">@Resources.General.Home</a>
                </li>
                <li>
                    <a href="/nha-hang.html">@Resources.General.Restaurant</a>
                </li>
                <li>@(isVi ? Model.Name : Model.NameEn)</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
        <input type="hidden" value="@Model.Latitude" id="Lat" />
        <input type="hidden" value="@Model.Longitude" id="Ln" />
        <input type="hidden" value="@Model.Name" id="Name" />
        <input type="hidden" value="@Model.Address" id="Address" />
        <input type="hidden" value="@Model.Avatar.Remove(0,1)" id="Avatar" />
        <input type="hidden" value="@Model.HotLine" id="HotLine" />
    </div>
    <!-- End Map -->
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        @foreach (var item in Model.Services)
                        {
                            <li>dsdsdsdsdsdsd</li>
                            <li>@*<i class="@item.Description"></i>*@<i><img src="@item.Icon.Remove(0, 1)" class="center" style="width:33px; height:33px; border-radius:1px;" /></i>@(isVi ? item.Name : item.NameEn)</li>
                        }
                    </ul>
                </div>
                <p class="d-none d-md-block d-block d-lg-none">
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">@Resources.General.View_map</a>
                </p>
                <!-- Map button for tablets/mobiles -->
                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        @foreach (var item in images)
                        {
                            <div class="sp-slide">
                                <img alt="@item.FileName" class="sp-image" src="/Assets/home/css/images/blank.gif" data-src="@item.FileUrl.Remove(0,1)" data-small="@item.FileUrl.Remove(0,1)" data-medium="@item.FileUrl.Remove(0,1)" data-large="@item.FileUrl.Remove(0,1)" data-retina="@item.FileUrl.Remove(0,1)">
                            </div>
                        }

                    </div>
                    <div class="sp-thumbnails">
                        @foreach (var item in images)
                        {
                            <img alt="@item.FileName" class="sp-thumbnail" src="@item.FileUrl.Remove(0,1)">
                        }
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <h3>@Resources.General.Short_des</h3>
                    </div>
                    <div class="col-lg-9">
                        @Html.Raw(isVi ? Model.ShortDes : Model.ShortDesEn)
                    </div>
                    <!-- End col-md-9  -->
                </div>
                <!-- End row  -->
                <hr>

                <div class="row">
                    <div class="col-lg-3">
                        <h3>@Resources.General.Des</h3>
                    </div>
                    <div class="col-lg-9">
                        <div id="accordion">
                            <div class="">
                                <div id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: black;text-decoration: none;">
                                            @Resources.General.View_all
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        @Html.Raw(isVi ? Model.LongDes : Model.LongDesEn)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col-md-9  -->
                </div>
                <!-- End row  -->
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <h3>@Resources.General.Hotline</h3>
                    </div>
                    <div class="col-lg-9" style="font-size:15px">
                        <a href="tel:@Model.HotLine">@Model.HotLine</a>
                    </div>
                    <!-- End col-md-9  -->
                </div>
                <!-- End row  -->
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <h3>@Resources.General.Comment</h3>

                    </div>
                    <div class="col-lg-9">
                        <!-- the comment box -->
                        <div class="well">
                            <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="20" width="100%" data-colorscheme="light" data-version="v2.9"></div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End  single_tour_desc-->
            <aside class="col-lg-4">
                <p class="d-none d-xl-block d-lg-block d-xl-none">
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">@Resources.General.View_map</a>
                </p>
                <div class="box_style_1 expose">
                    <h3 class="inner">@Resources.General.Check_availability</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> @Resources.General.Check_in</label>
                                <input class="date-pick form-control" data-date-format="M d, D" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> @Resources.General.Check_out</label>
                                <input class="date-pick form-control" data-date-format="M d, D" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>@Resources.General.Adults</label>
                                <div class="numbers-row">
                                    <input type="text" value="1" id="adults" class="qty2 form-control" name="quantity">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>@Resources.General.Children</label>
                                <div class="numbers-row">
                                    <input type="text" value="0" id="children" class="qty2 form-control" name="quantity">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a class="btn_full" href="javascript:void(0)" data-toggle="modal" data-target="#bookDialog">@Resources.General.Check_now</a>
                    @*<a class="btn_full_outline" href="#"><i class=" icon-heart"></i> @Resources.General.Add_wishlist</a>*@
                </div>
                <!--/box_style_1 -->
                @*<div class="box_style_4">
                        <i class="icon_set_1_icon-90"></i>
                        <h4><span>Book</span> by phone</h4>
                        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                        <small>Monday to Friday 9.00am - 7.30pm</small>
                    </div>*@
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>
<!-- End main -->
<!-- Date and time pickers -->
<script src="/Assets/home/js/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#Img_carousel').sliderPro({
            width: 960,
            height: 500,
            fade: true,
            arrows: true,
            buttons: false,
            fullScreen: false,
            smallSize: 500,
            startSlide: 0,
            mediumSize: 1000,
            largeSize: 3000,
            thumbnailArrows: true,
            autoplay: false
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/commonscript")
}
<!-- Carousel -->
<!-- Date and time pickers -->
<script>
    $('input.date-pick').datepicker('setDate', 'today');
</script>
<!-- Map -->
<script src="/Assets/home/js/map_restaurants.js"></script>
<script>
    $('.carousel-thumbs-2').owlCarousel({
        loop: false,
        margin: 5,
        responsiveClass: true,
        nav: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 4,
                nav: false
            }
        }
    });
</script>
