﻿@model sTour.Web.Infrastructure.Core.PaginationSet<sTour.Web.Models.RestaurantModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var services = (IEnumerable<sTour.Entity.ServiceRestaurant>)ViewBag.Services;
    bool isVi = sTour.Common.CommonConstants.CurrentCulture.ToString().Equals("vi");
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />*@
<section class="parallax-window" data-parallax="scroll" data-image-src="/Assets/home/banner/nhahang.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>
                <li>@Resources.General.Restaurant</li>
            </ul>
        </div>
    </div>
    <!-- Position -->
    @*<div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
        </div>*@
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">
                @*<p>
                        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                    </p>*@

                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>@Resources.General.Filters</a>
                    <div class="collapse show" id="collapseFilters">
                        <div class="filter_type price">
                            <h6>@Resources.General.Price</h6>
                            @*<input type="text" id="range" name="range" >*@
                            <div id="slider-range"></div>
                            <p style="text-align: center;">
                                <span class="pull-left">0₫</span>
                                <span class="pull-right ">2000000₫</span>

                            </p>
                            <p>@Resources.General.Price <span id="price-from">0</span>₫ @Resources.General.To <span id="price-to">2000000</span>₫</p>
                            <button type="button" id="apply-price" hidden class="apply-filter-btn" onclick="applyFilterUrl(this);">
                                @Resources.General.Apply
                            </button>
                            <script>

                                $(function () {

                                    var minPriceInRupees = 0;
                                    var maxPriceInRupees = 2000000;
                                    var currentMinValue = 0;
                                    var currentMaxValue = 1000000;

                                    $("#slider-range").slider({
                                        range: true,
                                        min: minPriceInRupees,
                                        max: maxPriceInRupees,
                                        values: [currentMinValue, currentMaxValue],
                                        slide: function (event, ui) {
                                            $('.price').attr('style', 'padding-bottom:15px');
                                            $('#apply-price').removeAttr('hidden')
                                            $('#price-from').text(ui.values[0]);
                                            $('#price-to').text(ui.values[1]);
                                            currentMinValue = ui.values[0];
                                            currentMaxValue = ui.values[1];
                                        },
                                        stop: function (event, ui) {
                                            currentMinValue = ui.values[0];
                                            currentMaxValue = ui.values[1];
                                            $('#apply-price').click(function () {
                                                var queryParameters = {}, queryString = location.search.substring(1),
                                                    re = /([^&=]+)=([^&]*)/g, m;

                                                // Creates a map with the query string parameters
                                                while (m = re.exec(queryString)) {
                                                    queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                                                }
                                                queryParameters['prices'] = currentMinValue + '-' + currentMaxValue;
                                                if (queryParameters['page'] != null)
                                                    queryParameters['page'] = 1;
                                                location.search = $.param(queryParameters);
                                            })
                                        },
                                        classes: {
                                            "ui-dialog": "ui-corner-all custom-red custom-big"
                                        }
                                    });

                                    var params = new window.URLSearchParams(window.location.search);
                                    if (params.get('prices') != null) {
                                        $('#price-from').text(params.get('prices').split('-')[0]);
                                        $('#price-to').text(params.get('prices').split('-')[1]);
                                    }


                                });
                            </script>
                        </div>
                        <div class="filter_type star">
                            <h6>@Resources.General.Rating</h6>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" id="star_5"><span class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" id="star_4"><span class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" id="star_3"><span class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" id="star_2"><span class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" id="star_1"><span class="rating">
                                            <i class="icon-star voted"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                            <button type="button" id="apply-star" hidden class="apply-filter-btn" >
                                @Resources.General.Apply
                            </button>
                        </div>
                        <script>
                            $(document).ready(function () {
                                var params = new window.URLSearchParams(window.location.search);
                                if (params.get('stars') != null)
                                    params.get('stars').split('_').forEach(function (e) {
                                        $('#star_' + e).iCheck('check');
                                    });
                            })
                            var idStar = [];
                            $('.star input[type="checkbox"]').on('ifChanged', function (event) {
                                $('.star').attr('style', 'padding-bottom:15px');
                                $('#apply-star').removeAttr('hidden')
                            });
                            $('.star input[type="checkbox"]').on('ifChecked', function (event) {
                                $('#apply-star').removeAttr('hidden')
                                var id = $(this).attr('id').split('_')[1];
                                idStar.push(id);
                            });
                            $('.star input[type="checkbox"]').on('ifUnchecked', function (event) {
                                var id = $(this).attr('id').split('_')[1];
                                idStar.splice($.inArray(id, idStar), 1);
                            });
                            $('#apply-star').click(function () {
                                var queryParameters = {}, queryString = location.search.substring(1),
                                    re = /([^&=]+)=([^&]*)/g, m;

                                // Creates a map with the query string parameters
                                while (m = re.exec(queryString)) {
                                    queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                                }
                                if (queryParameters['page'] != null)
                                    queryParameters['page'] = 1;
                                queryParameters['stars'] = idStar.join('_');
                                location.search = $.param(queryParameters);
                            })


                        </script>
                        <div class="filter_type service">
                            <h6>@Resources.General.Service</h6>
                            <ul>
                                @foreach (var item in services)
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox" id="service_@item.Id">@(isVi ? item.Name : item.NameEn)
                                        </label>
                                    </li>

                                }
                            </ul>

                            <button type="button" id="apply-service" hidden class="apply-filter-btn">
                                @Resources.General.Apply
                            </button>

                        </div>
                        <script>
                            $(document).ready(function () {
                                var params = new window.URLSearchParams(window.location.search);
                                if (params.get('services') != null)
                                    params.get('services').split('_').forEach(function (e) {
                                        $('#service_' + e).iCheck('check');
                                    });
                            })
                            var idService = [];
                            $('.service input[type="checkbox"]').on('ifChanged', function (event) {
                                $('#apply-service').removeAttr('hidden')
                            });
                            $('.service input[type="checkbox"]').on('ifChecked', function (event) {
                                $('#apply-service').removeAttr('hidden')
                                var id = $(this).attr('id').split('_')[1];
                                idService.push(id);

                            });
                            $('.service input[type="checkbox"]').on('ifUnchecked', function (event) {
                                var id = $(this).attr('id').split('_')[1];
                                idService.splice($.inArray(id, idService), 1);
                            });
                            $('#apply-service').click(function () {
                                var queryParameters = {}, queryString = location.search.substring(1),
                                    re = /([^&=]+)=([^&]*)/g, m;

                                // Creates a map with the query string parameters
                                while (m = re.exec(queryString)) {
                                    queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                                }
                                if (queryParameters['page'] != null)
                                    queryParameters['page'] = 1;
                                queryParameters['services'] = idService.join('_');
                                location.search = $.param(queryParameters);
                            })
                        </script>
                    </div>
                    <!--End collapse -->
                </div>
                <!--End filters col-->
                @*<div class="box_style_2">
                        <i class="icon_set_1_icon-57"></i>
                        <h4>Need <span>Help?</span></h4>
                        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                        <small>Monday to Friday 9.00am - 7.30pm</small>
                    </div>*@
            </aside>
            <!--End aside -->
            <div class="col-lg-9">
                <div id="tools">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="styled-select-filters">
                                <select name="sort_price" id="sort_price">
                                    <option selected>@Resources.General.Select...</option>
                                    <option value="alphabet">@Resources.General.Alphabet</option>
                                    <option value="higher">@Resources.General.Increment_price</option>
                                    <option value="lower">@Resources.General.Diminish_price</option>
                                    <option value="hot">@Resources.General.Hotest</option>
                                </select>
                                <script>
                                    $(document).ready(function () {
                                        var params = new window.URLSearchParams(window.location.search);
                                        if (params.get('sort') != null)
                                            $("select#sort_price").val(params.get('sort'));
                                    });
                                    $("select#sort_price").change(function () {
                                        var selected = $("#sort_price option:selected").val();
                                        var queryParameters = {}, queryString = location.search.substring(1),
                                            re = /([^&=]+)=([^&]*)/g, m;

                                        // Creates a map with the query string parameters
                                        while (m = re.exec(queryString)) {
                                            queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                                        }
                                        if (queryParameters['page'] != null)
                                            queryParameters['page'] = 1;
                                        queryParameters['sort'] = selected;
                                        location.search = $.param(queryParameters);
                                    });
                                </script>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/tools -->
                @foreach (var item in Model.Items)
                {
                    string urlRestaurant = "/restaurant/" + item.Alias + "-r." + item.Id + ".html";
                    <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                @*<div class="ribbon_3 popular">
                                        <span>Popular</span>
                                    </div>
                                    <div class="wishlist">
                                        <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                                    </div>*@
                                <div class="img_list">
                                    <a href="@urlRestaurant">
                                        <img src="@item.Avatar.Remove(0,1)" class="center" alt="@(isVi ? item.Name : item.NameEn)">
                                        @*<div class="short_info"><i class="icon_set_1_icon-4"></i>Museums </div>*@
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="tour_list_desc">
                                    <div class="rating">
                                        @for (int i = 0; i < item.Star; i++)
                                        {
                                            <i class="icon-star voted"></i>
                                        }

                                    </div>
                                    <h3>@(isVi ? item.Name : item.NameEn)</h3>
                                    <p>@(isVi ? item.Address : item.AddressEn)</p>
                                    <ul class="add_info">
                                        @foreach (var service in item.Services)
                                        {
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    @*<span class="tooltip-item"><i class="@service.Description"></i></span>*@
                                                    <span class="tooltip-item"><img src="@service.Icon.Remove(0, 1)" class="center" style="width:33px; height:33px; border-radius:1px;" /></span>
                                                    <div class="tooltip-content">
                                                        @(isVi ? service.Name : service.NameEn)
                                                        <br>
                                                    </div>
                                                </div>
                                            </li>
                                        }


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="price_list">
                                    <div>
                                        <sup>₫</sup>@string.Format("{0:0,0}", item.Price)@*<span class="normal_price_list">$99</span><small>*Per person</small>*@
                                        <p>
                                            <a href="@urlRestaurant" class="btn_1">@Resources.General.Detail</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End strip -->
                }


                <hr>
                @if (Model.TotalPages > 1)
                {
                    // Create numeric links
                    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            @{
                                string url = HttpContext.Current.Request.Url.AbsoluteUri;
                                string[] separateURL = url.Split('?');
                                if (separateURL.Length > 1)
                                {
                                    System.Collections.Specialized.NameValueCollection queryString = System.Web.HttpUtility.ParseQueryString(separateURL[1]);
                                    if (queryString["page"] != null)
                                    {
                                        queryString.Remove("page");
                                    }
                                    url = separateURL[0] + "?" + queryString.ToString();
                                }
                            }
                            @if (Model.Page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@(Request.Url.AbsoluteUri.Contains('?') ? url+"&page="+ (Model.Page-1).ToString() :  url+"?page=" + (Model.Page-1).ToString() ) " aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (Model.Page == i)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">@i<span class="sr-only">(current)</span></span>
                                    </li>

                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@(Request.Url.AbsoluteUri.Contains('?') ? url+"&page="+i :  url+"?page="+i ) ">@i</a></li>

                                }
                            }
                            @if (Model.Page < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@(Request.Url.AbsoluteUri.Contains('?') ? url+"&page="+ (Model.Page+1).ToString() :  url+"?page="+ (Model.Page+1).ToString() ) " aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                            }

                        </ul>
                    </nav>
                    <!-- end pagination-->
                }

            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Assets/home/js/cat_nav_mobile.js"></script>
<script>
    $('#cat_nav').mobileMenu();
</script>
