﻿@model sTour.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any())
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()

            foreach (AuthenticationDescription p in loginProviders)
            {
                if (p.AuthenticationType.Equals("Facebook"))
                {
                    <button type="submit" style="width:335px" class="social_bt facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@Resources.Account.Login_with @p.AuthenticationType</button>
                }
                if (p.AuthenticationType.Equals("Google"))
                {
                    <button type="submit" style="width:335px" class="social_bt google" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@Resources.Account.Login_with @p.AuthenticationType</button>
                }
               
            }

        }
    }
}
