﻿
@{
    ViewBag.Title = "AccountInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="parallax-window" data-parallax="scroll" data-image-src="https://d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/large-images/city-landscapes/mountain-35a5b806a83dc3393f7f5606697bc9191.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Resources.General.Title </h1>
            <p>
                @Resources.General.Subject
            </p>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">@Resources.General.Home</a>
                </li>                
                <li>@Resources.General.Profile</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->
    <div class="margin_60 container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>                    
                    <li>
                        <a href="#section-1" class="icon-settings"><span>@Resources.Account.Change_password</span></a>
                    </li>
                    <li>
                        <a href="#section-2" class="icon-profile"><span>@Resources.Account.My_info</span></a>
                    </li>
                </ul>
            </nav>
            <div class="content">             
                <section id="section-1">
                    <div class="row">
                        <div class="col-md-12 add_bottom_30">
                            <h4>@Resources.Account.Change_password</h4>
                            <div class="form-group">
                                <label>@Resources.Account.Old_password</label>
                                <input class="form-control" name="old_password" id="old_password" type="password">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.New_password</label>
                                <input class="form-control" name="new_password" id="new_password" type="password">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.Confirm_password</label>
                                <input class="form-control" name="confirm_new_password" id="confirm_new_password" type="password">
                            </div>
                            <button type="submit" class="btn_1 green">@Resources.Account.Update</button>
                        </div>                     
                    </div>
                    <!-- End row -->
                   
                </section>
                <!-- End section 1 -->
                <section id="section-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>@Resources.Account.My_info</h4>
                            <ul id="profile_summary">
                                <li>
                                    @Resources.Account.Account_name <span>info@clara.com</span>
                                </li>
                                <li>
                                    @Resources.Account.Full_name <span>Clara</span>
                                </li>                                
                                <li>
                                    @Resources.Account.Phone <span>+00 032 42366</span>
                                </li>
                                <li>
                                    @Resources.Account.Address <span>13/04/1975</span>
                                </li>
                                <li>
                                    @Resources.Account.Sex <span>24 Rue de Rivoli</span>
                                </li>
                                <li>
                                    Email <span>Paris</span>
                                </li>                                                              
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <img src="img/tourist_guide_pic.jpg" alt="Image" class="img-fluid styled profile_pic">
                            </p>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>@Resources.Account.Edit_info </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.Full_name</label>
                                <input class="form-control" name="FullName"  type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.Phone</label>
                                <input class="form-control" name="PhoneNumber" id="phone_number" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.Address</label>
                                <input class="form-control" name="Address" id="address" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Resources.Account.Date_of_birth <small>(dd/mm/yyyy)</small>
                                </label>
                                <input class="form-control" name="email" id="email" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>@Resources.Account.Edit_address</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.Street_address</label>
                                <input class="form-control" name="first_name" id="first_name" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.City_town</label>
                                <input class="form-control" name="last_name" id="last_name" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.Zip_code</label>
                                <input class="form-control" name="email" id="email" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resources.Account.Country</label>
                                <select id="country" class="form-control" name="country">
                                    <option value="">@Resources.General.Sellect...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>
                    <h4>@Resources.Account.Upload_profile_photo</h4>
                    <div class="form-inline upload_1">
                        <div class="form-group">
                            <input type="file" name="files[]" id="js-upload-files" multiple>
                        </div>
                        <button type="submit" class="btn_1 green" id="js-upload-submit">@Resources.Account.Upload_file</button>
                    </div>
                    <!-- Drop Zone -->
                    <h5>@Resources.Account.Or_drag_drop_file</h5>
                    <div class="upload-drop-zone" id="drop-zone">
                         @Resources.Account.Just_drap_drop_file
                    </div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% @Resources.Account.Complete</span>
                        </div>
                    </div>
                    <!-- Upload Finished -->
                    <div class="js-upload-finished">
                        <h5>@Resources.Account.Processed_files</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">@Resources.Account.Success</span>image-01.jpg</a>
                        </div>
                    </div>
                    <!-- End Hidden on mobiles -->
                    <hr>
                    <button type="submit" class="btn_1 green">@Resources.Account.Update_profile</button>
                </section>
                <!-- End section 2 -->
            </div>
            <!-- End content -->
        </div>
        <!-- End tabs -->
    </div>
    <!-- end container -->
</main>
<!-- End main -->