﻿@model sTour.Web.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

<main>
    <section id="hero" class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                    <div id="login">
                        <div class="text-center">
                            <div class="text-center" style="font-size:22px;font-family: 'Lobster', cursive;">
                                sTour
                            </div>
                        </div>
                        <hr>



                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>@Resources.Account.User_name</label>
                                <input type="text" name="Username" class=" form-control " placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.Password</label>
                                <input type="password" name="Password" class=" form-control" placeholder="Password">
                            </div>
                            <p class="small">
                                <a href="/Account/ForgotPassword">@Resources.Account.Forgot_password</a>
                            </p>
                            <button type="submit" class="btn_full">@Resources.Account.Login</button>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End main -->