﻿@model sTour.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<main>
    <section id="hero" class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-5 col-md-6 col-sm-8">
                    <div id="login">
                        <div class="text-center">
                            <div class="text-center" style="font-size:22px;font-family: 'Lobster', cursive;">
                                sTour
                            </div>
                        </div>
                        <hr>

                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.ValidationSummary(null, new { @Style = "color:red;" })
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>@Resources.Account.Full_name</label>
                                <input type="text" name="FullName" class=" form-control" id="fullName" placeholder="@Resources.Account.Enter_fullname ...">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.User_name</label>
                                <input type="text" name="UserName" class=" form-control" id="userName" placeholder="@Resources.Account.Enter_username ...">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.Password</label>
                                <input type="password" name="Password" class=" form-control" id="password" placeholder="@Resources.Account.Enter_password ...">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.Confirm_password</label>
                                <input type="password" name="ConfirmPassword" class=" form-control" id="confirmPassword" placeholder="@Resources.Account.Confirm_password ...">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="Email" class=" form-control " id="email" placeholder="@Resources.Account.Enter_your_email ...">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.Address</label>
                                <input type="text" name="Address" class=" form-control" id="address" placeholder="@Resources.Account.Address ...">
                            </div>
                            <div class="form-group">
                                <label>@Resources.Account.Phone</label>
                                <input type="text" name="PhoneNumber" class=" form-control" id="phone" placeholder="@Resources.Account.Phone ...">
                            </div>
                            @*<p class="small">
                                    <a href="/Account/ForgotPassword">@Resources.Account.Forgot_password</a>
                                </p>*@
                            <button type="submit" class="btn_full" id="btn-submit">@Resources.Account.Register</button>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End main -->
